.eror-wedding-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.eror-wedding-image {
  width: 200px;
  object-fit: cover;
}
.eror-wedding-text {
  margin: var(--dl-space-space-unit);
}
.eror-wedding-text1 {
  font-style: normal;
}
.eror-wedding-navlink {
  display: contents;
}
.eror-wedding-get-started {
  color: white;
  cursor: pointer;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  border-radius: 56px;
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: #000000;
}
.eror-wedding-get-started:hover {
  color: black;
  background-color: #ffffff;
}
.eror-wedding-text4 {
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
}
.eror-wedding-link {
  display: contents;
}
.eror-wedding-get-started1 {
  color: white;
  cursor: pointer;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  border-radius: 56px;
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: #31b704;
}
.eror-wedding-get-started1:hover {
  color: black;
  background-color: #8efb39;
}
.eror-wedding-text5 {
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
}
@media(max-width: 767px) {
  .eror-wedding-get-started {
    margin-top: var(--dl-space-space-twounits);
  }
  .eror-wedding-get-started1 {
    margin-top: var(--dl-space-space-twounits);
  }
}
@media(max-width: 414px) {
  .eror-wedding-get-started {
    width: 235px;
  }
  .eror-wedding-get-started1 {
    width: 235px;
  }
}
