.sambutan-container {
  gap: var(--dl-space-space-halfunit);
  top: 0px;
  width: 100%;
  height: auto;
  display: flex;
  z-index: 500;
  position: fixed;
  flex-wrap: wrap;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.3);
  align-items: center;
  flex-direction: row;
  justify-content: center;
  background-color: #ffffff;
}
.sambutan-text {
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  font-weight: 600;
  margin-left: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-unit);
}
.sambutan-text1 {
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  font-weight: 600;
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-unit);
}

.sambutan-root-class-name1 {
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}

@media(max-width: 767px) {
  .sambutan-container {
    gap: 1;
    flex-wrap: wrap;
  }
}
@media(max-width: 479px) {
  .sambutan-root-class-name1 {
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

.link-menus-links-container {
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.link-menus-container {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-right: 0px;
  flex-direction: row;
  justify-content: center;
}
.link-menus-product-container {
  flex: 1;
  display: flex;
  padding: var(--dl-space-space-unit);
  box-shadow: 5px 5px 10px 0px rgba(124, 124, 124, 0.08);
  align-items: flex-start;
  margin-right: 0rem;
  border-radius: 20px;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #ffffff;
}
.link-menus-text {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.link-menus-navlink {
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.link-menus-navlink:hover {
  color: #929292;
}
.link-menus-navlink1 {
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.link-menus-navlink1:hover {
  color: #929292;
}
.link-menus-company-container {
  flex: 1;
  display: flex;
  padding: var(--dl-space-space-unit);
  box-shadow: 5px 5px 10px 0px rgba(124, 124, 124, 0.08);
  align-items: flex-start;
  border-radius: 20px;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #ffffff;
}
.link-menus-text1 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.link-menus-text2 {
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-unit);
}
.link-menus-text2:hover {
  color: #929292;
}
.link-menus-text3 {
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-unit);
}
.link-menus-text3:hover {
  color: #929292;
}
.link-menus-text4 {
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-unit);
}
.link-menus-text4:hover {
  color: #929292;
}
.link-menus-text5 {
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-unit);
}
.link-menus-text5:hover {
  color: #929292;
}
.link-menus-contact {
  flex: 1;
  display: flex;
  padding: var(--dl-space-space-unit);
  box-shadow: 5px 5px 10px 0px rgba(124, 124, 124, 0.08);
  align-items: flex-start;
  border-radius: 20px;
  margin-bottom: 0px;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #ffffff;
}
.link-menus-text6 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.link-menus-text7 {
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-unit);
}
.link-menus-text7:hover {
  color: #929292;
}
.link-menus-container1 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.link-menus-icon {
  width: 18px;
  height: 18px;
}
.link-menus-container2 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}

@media(max-width: 767px) {
  .link-menus-links-container {
    width: 100%;
    align-items: flex-start;
    flex-direction: row;
    justify-content: center;
  }
}
@media(max-width: 479px) {
  .link-menus-links-container {
    align-items: flex-start;
    margin-left: 0px;
    margin-right: 0px;
    flex-direction: column;
  }
  .link-menus-container {
    gap: var(--dl-space-space-unit);
    padding: var(--dl-space-space-unit);
    flex-wrap: wrap;
  }
  .link-menus-product-container {
    box-shadow: 5px 5px 10px 0px rgba(185, 185, 185, 0.49);
    border-radius: 20px;
    background-color: #ffffff;
  }
  .link-menus-company-container {
    box-shadow: 5px 5px 10px 0px rgba(185, 185, 185, 0.49);
    border-radius: 20px;
    background-color: #ffffff;
  }
  .link-menus-contact {
    box-shadow: 5px 5px 10px 0px rgba(185, 185, 185, 0.49);
    align-items: flex-start;
    border-radius: 20px;
    margin-bottom: var(--dl-space-space-unit);
    background-color: #ffffff;
  }
  .link-menus-container2 {
    margin-top: var(--dl-space-space-oneandhalfunits);
    align-items: flex-start;
    margin-bottom: 0px;
  }
}

.navbar-container {
  width: 100%;
  display: flex;
  z-index: 100;
  position: relative;
  max-width: 1000px;
}
.navbar-navbar {
  width: 100%;
  display: flex;
  position: relative;
  max-width: auto;
  align-items: center;
  margin-right: 0px;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  justify-content: space-between;
}
.navbar-navlink {
  display: contents;
}
.navbar-image {
  width: 48px;
  height: 48px;
  object-fit: cover;
  text-decoration: none;
}
.navbar-desktop-menu {
  gap: var(--dl-space-space-threeunits);
  display: flex;
}
.navbar-nav {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navbar-link {
  text-decoration: none;
}
.navbar-link2 {
  text-decoration: none;
}
.navbar-link3 {
  text-decoration: none;
}
.navbar-register {
  color: #ffffff;
  text-decoration: none;
  background-color: #59cb00;
}
.navbar-icon {
  fill: #ffffff;
  width: 25px;
  height: 25px;
}
.navbar-burger-menu {
  display: none;
  align-items: center;
  justify-content: center;
}
.navbar-icon2 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.navbar-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 32px;
  z-index: 100;
  position: fixed;
  transform: translateX(100%);
  overflow-y: scroll;
  transition: 0.5s;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffffff;
}
.navbar-nav1 {
  display: flex;
  z-index: 20;
  align-items: flex-start;
  flex-direction: column;
}
.navbar-container1 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.navbar-navlink1 {
  display: contents;
}
.navbar-image1 {
  width: 200px;
  z-index: 100;
  object-fit: cover;
  text-decoration: none;
}
.navbar-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar-icon4 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.navbar-contact {
  flex: 1;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: flex-start;
  margin-bottom: 0px;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #ececec;
}
.navbar-text1 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.navbar-form {
  gap: var(--dl-space-space-unit);
  flex: 0;
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  max-width: 1000px;
  align-self: center;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
  justify-content: center;
}
.navbar-container2 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.navbar-container3 {
  gap: var(--dl-space-space-halfunit);
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.navbar-text2 {
  font-size: 12px;
}
.navbar-textinput {
  width: 100%;
  padding: var(--dl-space-space-halfunit);
  box-shadow: 5px 5px 15px 0px rgba(212, 212, 212, 0.5);
  border-radius: var(--dl-radius-radius-radius8);
}
.navbar-container4 {
  gap: var(--dl-space-space-halfunit);
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.navbar-text3 {
  font-size: 12px;
}
.navbar-container5 {
  width: 100%;
  display: flex;
  box-shadow: 5px 5px 15px 0px rgba(212, 212, 212, 0.5);
  align-items: center;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  justify-content: flex-start;
  background-color: #44bb00;
}
.navbar-icon6 {
  fill: #ffffff;
  width: 32px;
  height: 32px;
  padding: 5px;
}
.navbar-textinput1 {
  width: 100%;
  padding: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius8);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.navbar-button {
  color: rgb(255, 255, 255);
  width: 100%;
  padding: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius8);
  justify-content: center;
  background-color: rgb(0, 194, 24);
}
.navbar-text4 {
  font-size: 12px;
}
.navbar-root-class-name {
  width: 100%;
}
.navbar-root-class-name1 {
  width: 100%;
}
@media(max-width: 991px) {
  .navbar-navbar {
    z-index: 100;
  }
  .navbar-mobile-menu {
    background-color: #c6c6c6;
  }
}
@media(max-width: 767px) {
  .navbar-navbar {
    padding-left: 0px;
    padding-right: 0px;
  }
  .navbar-icon2 {
    fill: white;
    width: 33px;
    height: 33px;
  }
  .navbar-mobile-menu {
    background-color: #ffffff;
  }
  .navbar-nav1 {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .navbar-container1 {
    align-self: flex-end;
    margin-bottom: var(--dl-space-space-unit);
    justify-content: space-between;
  }
  .navbar-image1 {
    width: 52px;
    height: 52px;
  }
  .navbar-icon4 {
    width: 40px;
    height: 40px;
  }
}
@media(max-width: 479px) {
  .navbar-navbar {
    padding-left: 0px;
    padding-right: 0px;
  }
  .navbar-desktop-menu {
    display: none;
  }
  .navbar-burger-menu {
    display: flex;
  }
  .navbar-mobile-menu {
    height: auto;
    padding: 16px;
  }
  .navbar-nav1 {
    padding-top: var(--dl-space-space-threeunits);
  }
  .navbar-container1 {
    align-self: flex-end;
  }
  .navbar-menu-close {
    justify-content: center;
  }
  .navbar-contact {
    flex: 1;
    width: 100%;
    height: 100%;
    align-self: center;
    box-shadow: 5px 5px 10px 0px rgba(185, 185, 185, 0.49);
    align-items: center;
    border-radius: 20px;
    margin-bottom: var(--dl-space-space-unit);
    animation-name: tada;
    animation-delay: 2s;
    justify-content: flex-start;
    background-color: #ffffff;
    animation-duration: 1s;
    animation-direction: normal;
    animation-iteration-count: 1;
    animation-timing-function: ease;
  }
  .navbar-text1 {
    margin-bottom: 0px;
  }
  .navbar-form {
    flex-direction: row;
  }
  .navbar-container2 {
    flex-direction: column;
  }
  .navbar-container3 {
    flex: 1;
    width: 100%;
  }
  .navbar-container4 {
    flex: 1;
    width: 100%;
  }
  .navbar-text3 {
    font-size: 12px;
  }
  .navbar-button {
    color: #ffffff;
  }
}

.footer-footer {
  width: 100%;
  display: flex;
  position: relative;
  max-width: auto;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.footer-container {
  width: 100%;
  display: flex;
  max-width: 1000px;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.footer-logo {
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  flex-direction: column;
}
.footer-image {
  width: 69px;
  height: 69px;
}
.footer-text {
  margin-top: var(--dl-space-space-oneandhalfunits);
}
.footer-separator {
  width: 100%;
  height: 1px;
  margin-top: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-twounits);
  background-color: var(--dl-color-gray-900);
}
.footer-text3 {
  align-self: center;
}

@media(max-width: 991px) {
  .footer-footer {
    flex-direction: column;
  }
}
@media(max-width: 767px) {
  .footer-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .footer-container {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .footer-logo {
    align-items: center;
  }
  .footer-image {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .footer-text {
    margin-top: var(--dl-space-space-twounits);
    text-align: center;
    margin-bottom: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .footer-footer {
    padding: var(--dl-space-space-unit);
  }
  .footer-container {
    align-items: center;
    flex-direction: column;
  }
  .footer-image {
    margin-bottom: 0px;
  }
  .footer-text {
    margin-top: var(--dl-space-space-twounits);
    margin-bottom: var(--dl-space-space-twounits);
  }
  .footer-text3 {
    text-align: center;
  }
}

.home-container {
  width: 100%;
  display: flex;
  overflow: hidden;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.home-hero {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  margin-top: var(--dl-space-space-threeunits);
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: flex-start;
  background-color: #07003a;
}
.home-hero1 {
  width: 100%;
  height: 600px;
  display: flex;
  z-index: 100;
  flex-wrap: wrap;
  max-width: 1000px;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-container01 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 430px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.home-text01 {
  color: #ffffff;
}
.home-text02 {
  color: #ffffff;
}
.home-text03 {
  color: #ffffff;
}
.home-text04 {
  color: #ffffff;
}
.home-text05 {
  color: #ffffff;
}
.home-text06 {
  color: #eaff00;
}
.home-caption {
  color: rgb(255, 255, 255);
  width: 100%;
  font-family: "Inter";
}
.home-navlink {
  display: contents;
}
.home-container02 {
  gap: var(--dl-space-space-unit);
  width: 50%;
  cursor: pointer;
  height: 48px;
  display: flex;
  padding: var(--dl-space-space-unit);
  box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.4);
  transition: 0.3s;
  align-items: center;
  border-radius: 20px;
  justify-content: center;
  text-decoration: none;
  background-image: linear-gradient(90deg, rgb(255, 208, 0) 26.00%,rgb(250, 255, 0) 75.00%);
}
.home-container02:hover {
  transform: scale(105%);
  background-color: #6100bf;
}
.home-caption1 {
  color: #000000;
  font-size: 18.72px;
  font-style: normal;
  font-family: Inter;
  font-weight: 600;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.home-icon {
  fill: #000000;
  width: 16px;
  height: 16px;
}
.home-slider {
  width: 500px;
  height: 266px;
  display: inline-block;
  border-radius: 15px;
}
.home-slider-slide {
  display: flex;
}
.home-image {
  width: 100%;
  object-fit: cover;
}
.home-slider-slide1 {
  display: flex;
}
.home-image01 {
  width: 100%;
  object-fit: cover;
}
.home-slider-slide2 {
  display: flex;
}
.home-image02 {
  width: 100%;
  object-fit: cover;
}
.home-slider-slide3 {
  display: flex;
}
.home-image03 {
  width: 100%;
  object-fit: cover;
}
.home-slider-pagination {
  display: none;
}
.home-slider-pagination-bullet {
  width: 26px;
  border-radius: var(--dl-radius-radius-radius4);
  background-color: #07003a;
}
.home-slider-button-prev {
  color: rgba(255, 255, 255, 0.66);
  display: none;
}
.home-slider-button-next {
  color: rgba(255, 255, 255, 0.66);
  display: none;
}
.home-container03 {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  max-width: 1000px;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: flex-start;
}
.home-container04 {
  gap: var(--dl-space-space-unit);
  flex: 1;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.home-container05 {
  gap: var(--dl-space-space-halfunit);
  flex: 1;
  width: 209px;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}
.home-image04 {
  width: 100%;
  cursor: pointer;
  height: auto;
  object-fit: cover;
  transition: 0.5s;
  border-radius: var(--dl-radius-radius-radius8);
}
.home-image04:hover {
  transform: translateY(-12px);
  box-shadow: 0px 3px 0px 0px #444444,0px 5px 5px 0px #909090;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
.home-container06 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
}
.home-text12 {
  color: #07003a;
  width: 100%;
  font-size: 12px;
  align-self: center;
  font-style: normal;
  text-align: left;
  font-weight: 600;
}
.home-text13 {
  color: #07003a;
  width: 100%;
  font-size: 12px;
  align-self: center;
  font-style: normal;
  text-align: left;
  font-weight: 600;
}
.home-container07 {
  gap: 5px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-container08 {
  gap: 5px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.home-text14 {
  color: rgb(0, 10, 255);
  width: auto;
  font-size: 9px;
  align-self: center;
  font-style: normal;
  text-align: left;
  font-weight: 400;
}
.home-container09 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-link {
  display: contents;
}
.home-container10 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  cursor: pointer;
  height: 38px;
  display: flex;
  padding: 5px;
  transition: 0.5s;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  justify-content: center;
  text-decoration: none;
  background-color: #07003a;
}
.home-container10:hover {
  transform: scale(105%);
  box-shadow: 0px 3px 0px 0px #6cc400,0px 3px 10px 0px #edff1b;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: #077902;
}
.home-text15 {
  color: #ffffff;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
}
.home-container11 {
  gap: var(--dl-space-space-halfunit);
  flex: 1;
  width: 209px;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}
.home-image05 {
  width: 100%;
  cursor: pointer;
  height: auto;
  object-fit: cover;
  transition: 0.5s;
  border-radius: var(--dl-radius-radius-radius8);
}
.home-image05:hover {
  transform: translateY(-12px);
  box-shadow: 0px 3px 0px 0px #444444,0px 5px 5px 0px #909090;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
.home-container12 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
}
.home-text16 {
  color: #07003a;
  width: 100%;
  font-size: 12px;
  align-self: center;
  font-style: normal;
  text-align: left;
  font-weight: 600;
}
.home-text17 {
  color: #07003a;
  width: 100%;
  font-size: 12px;
  align-self: center;
  font-style: normal;
  text-align: left;
  font-weight: 600;
}
.home-container13 {
  gap: 5px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-container14 {
  gap: 5px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.home-text18 {
  color: rgb(0, 10, 255);
  width: auto;
  font-size: 9px;
  align-self: center;
  font-style: normal;
  text-align: left;
  font-weight: 400;
}
.home-container15 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-link1 {
  display: contents;
}
.home-container16 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  cursor: pointer;
  height: 38px;
  display: flex;
  padding: 5px;
  transition: 0.5s;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  justify-content: center;
  text-decoration: none;
  background-color: #07003a;
}
.home-container16:hover {
  transform: scale(105%);
  box-shadow: 0px 3px 0px 0px #6cc400,0px 3px 10px 0px #edff1b;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: #077902;
}
.home-text19 {
  color: #ffffff;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
}
.home-container17 {
  gap: var(--dl-space-space-unit);
  flex: 1;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.home-container18 {
  gap: var(--dl-space-space-halfunit);
  flex: 1;
  width: 209px;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}
.home-image06 {
  width: 100%;
  cursor: pointer;
  height: auto;
  object-fit: cover;
  transition: 0.5s;
  border-radius: var(--dl-radius-radius-radius8);
}
.home-image06:hover {
  transform: translateY(-12px);
  box-shadow: 0px 3px 0px 0px #444444,0px 5px 5px 0px #909090;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
.home-container19 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
}
.home-text20 {
  color: #07003a;
  width: 100%;
  font-size: 12px;
  align-self: center;
  font-style: normal;
  text-align: left;
  font-weight: 600;
}
.home-text21 {
  color: #07003a;
  width: 100%;
  font-size: 12px;
  align-self: center;
  font-style: normal;
  text-align: left;
  font-weight: 600;
}
.home-container20 {
  gap: 5px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-container21 {
  gap: 5px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.home-text22 {
  color: rgb(0, 10, 255);
  width: auto;
  font-size: 9px;
  align-self: center;
  font-style: normal;
  text-align: left;
  font-weight: 400;
}
.home-container22 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-link2 {
  display: contents;
}
.home-container23 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  cursor: pointer;
  height: 38px;
  display: flex;
  padding: 5px;
  transition: 0.5s;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  justify-content: center;
  text-decoration: none;
  background-color: #07003a;
}
.home-container23:hover {
  transform: scale(105%);
  box-shadow: 0px 3px 0px 0px #6cc400,0px 3px 10px 0px #edff1b;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: #077902;
}
.home-text23 {
  color: #ffffff;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
}
.home-container24 {
  gap: var(--dl-space-space-halfunit);
  flex: 1;
  width: 209px;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}
.home-image07 {
  width: 100%;
  cursor: pointer;
  height: auto;
  object-fit: cover;
  transition: 0.5s;
  border-radius: var(--dl-radius-radius-radius8);
}
.home-image07:hover {
  transform: translateY(-12px);
  box-shadow: 0px 3px 0px 0px #444444,0px 5px 5px 0px #909090;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
.home-container25 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
}
.home-text24 {
  color: #07003a;
  width: 100%;
  font-size: 12px;
  align-self: center;
  font-style: normal;
  text-align: left;
  font-weight: 600;
}
.home-text25 {
  color: #07003a;
  width: 100%;
  font-size: 12px;
  align-self: center;
  font-style: normal;
  text-align: left;
  font-weight: 600;
}
.home-container26 {
  gap: 5px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-container27 {
  gap: 5px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.home-text26 {
  color: rgb(0, 10, 255);
  width: auto;
  font-size: 9px;
  align-self: center;
  font-style: normal;
  text-align: left;
  font-weight: 400;
}
.home-container28 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-link3 {
  display: contents;
}
.home-container29 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  cursor: pointer;
  height: 38px;
  display: flex;
  padding: 5px;
  transition: 0.5s;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  justify-content: center;
  text-decoration: none;
  background-color: #07003a;
}
.home-container29:hover {
  transform: scale(105%);
  box-shadow: 0px 3px 0px 0px #6cc400,0px 3px 10px 0px #edff1b;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: #077902;
}
.home-text27 {
  color: #ffffff;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
}
.home-container30 {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  padding-top: var(--dl-space-space-threeunits);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: flex-start;
  background-color: #ffffff;
}
.home-container31 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  z-index: 5;
  max-width: 1000px;
  align-items: center;
  justify-content: space-between;
}
.home-container32 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-container33 {
  gap: var(--dl-space-space-unit);
  width: 444px;
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-text28 {
  color: rgb(0, 0, 0);
  width: auto;
}
.home-caption2 {
  color: rgb(0, 0, 0);
  width: auto;
  font-family: "Inter";
}
.home-navlink1 {
  color: rgb(255, 255, 255);
  align-self: flex-start;
  transition: 0.3s;
  padding-right: var(--dl-space-space-twounits);
  justify-content: center;
  text-decoration: none;
  background-color: rgb(0, 0, 0);
}
.home-navlink1:hover {
  color: #ffffff;
  background-color: #840101;
}
.home-image08 {
  width: 469px;
  height: 469px;
  align-self: center;
  object-fit: cover;
}
.home-container34 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  z-index: 5;
  max-width: 1000px;
  align-items: center;
  justify-content: space-between;
}
.home-image09 {
  width: 469px;
  height: 469px;
  align-self: center;
  object-fit: cover;
}
.home-container35 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-container36 {
  gap: var(--dl-space-space-unit);
  width: 444px;
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-text37 {
  color: rgb(0, 0, 0);
  width: auto;
}
.home-text38 {
  color: #0077ff;
  width: auto;
}
.home-caption3 {
  color: rgb(0, 0, 0);
  width: auto;
  font-family: "Inter";
}
.home-image10 {
  width: 469px;
  height: 469px;
  display: none;
  align-self: center;
  object-fit: cover;
}
.home-container37 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  z-index: 5;
  max-width: 1000px;
  align-items: center;
  justify-content: space-between;
}
.home-image11 {
  width: 469px;
  height: 469px;
  display: none;
  align-self: center;
  object-fit: cover;
}
.home-container38 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-container39 {
  gap: var(--dl-space-space-unit);
  width: 444px;
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-text41 {
  color: rgb(0, 0, 0);
  width: auto;
}
.home-caption4 {
  color: rgb(0, 0, 0);
  width: auto;
  font-family: "Inter";
}
.home-container40 {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-self: flex-start;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  border-radius: 15px;
  padding-right: var(--dl-space-space-twounits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: center;
  text-decoration: none;
  background-color: #000000;
}
.home-text42 {
  color: rgb(255, 255, 255);
  font-style: normal;
  font-weight: 600;
}
.home-icon2 {
  fill: #ffffff;
  width: 23px;
  height: 23px;
  align-self: center;
}
.home-image12 {
  width: 469px;
  height: 469px;
  align-self: center;
  object-fit: cover;
}
.home-image13 {
  top: 811px;
  right: -189px;
  width: 444px;
  height: 455px;
  position: absolute;
  object-fit: cover;
}
.home-image14 {
  top: 342px;
  left: -222px;
  width: 444px;
  filter: blur(5px);
  height: 455px;
  position: absolute;
  object-fit: cover;
}
.home-container42 {
  display: contents;
}
.home-container44 {
  display: contents;
}
@media(max-width: 991px) {
  .home-hero {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .home-hero1 {
    z-index: 0;
    background-color: transparent;
  }
  .home-container01 {
    width: 364px;
    padding-right: 0px;
  }
  .home-text01 {
    color: #ffffff;
  }
  .home-text02 {
    color: #ffffff;
  }
  .home-text03 {
    color: #ffffff;
  }
  .home-text04 {
    color: #ffffff;
  }
  .home-text05 {
    color: #ffffff;
  }
  .home-text06 {
    color: #eaff00;
    font-style: italic;
  }
  .home-text07 {
    color: #ffffff;
  }
  .home-caption {
    width: 100%;
  }
  .home-container02 {
    width: 200px;
  }
  .home-text12 {
    color: rgb(7, 0, 58);
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
  }
  .home-text14 {
    color: rgb(0, 10, 255);
    font-size: 9px;
    font-style: normal;
    font-weight: 400;
  }
  .home-text16 {
    color: rgb(7, 0, 58);
  }
  .home-text17 {
    color: rgb(7, 0, 58);
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
  }
  .home-text18 {
    color: rgb(0, 10, 255);
  }
  .home-text20 {
    color: rgb(7, 0, 58);
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
  }
  .home-text21 {
    color: rgb(7, 0, 58);
  }
  .home-text22 {
    color: rgb(0, 10, 255);
    font-size: 9px;
    font-style: normal;
    font-weight: 400;
  }
  .home-text24 {
    color: rgb(7, 0, 58);
  }
  .home-text25 {
    color: rgb(7, 0, 58);
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
  }
  .home-text26 {
    color: rgb(0, 10, 255);
  }
  .home-container30 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .home-container31 {
    justify-content: center;
  }
  .home-container33 {
    width: 435px;
    height: 100%;
    align-self: center;
    align-items: flex-start;
    justify-content: center;
  }
  .home-text28 {
    color: #000000;
    font-size: 32px;
    font-family: Inter;
    font-weight: 600;
    line-height: 1.1;
    text-transform: none;
    text-decoration: none;
  }
  .home-text32 {
    font-weight: 600;
  }
  .home-text33 {
    font-weight: 600;
  }
  .home-caption2 {
    width: 100%;
  }
  .home-container34 {
    justify-content: center;
  }
  .home-container36 {
    width: 435px;
    height: 100%;
    align-self: center;
    align-items: flex-start;
    justify-content: center;
  }
  .home-text37 {
    color: #000000;
    font-size: 32px;
    font-family: Inter;
    font-weight: 600;
    line-height: 1.1;
    text-transform: none;
    text-decoration: none;
  }
  .home-text38 {
    color: #000000;
    font-size: 32px;
    font-family: Inter;
    font-weight: 600;
    line-height: 1.1;
    text-transform: none;
    text-decoration: none;
  }
  .home-caption3 {
    width: 100%;
  }
  .home-container37 {
    justify-content: center;
  }
  .home-container39 {
    width: 435px;
    height: 100%;
    align-self: center;
    align-items: flex-start;
    justify-content: center;
  }
  .home-text41 {
    color: #000000;
    font-size: 32px;
    font-family: Inter;
    font-weight: 600;
    line-height: 1.1;
    text-transform: none;
    text-decoration: none;
  }
  .home-caption4 {
    width: 100%;
  }
  .home-image13 {
    top: 777px;
  }
}
@media(max-width: 767px) {
  .home-hero {
    height: auto;
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-hero1 {
    gap: var(--dl-space-space-unit);
    height: auto;
    align-self: center;
    padding-top: var(--dl-space-space-twounits);
    padding-bottom: var(--dl-space-space-twounits);
    justify-content: center;
    background-color: transparent;
  }
  .home-container01 {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .home-text {
    text-align: center;
  }
  .home-caption {
    width: 100%;
    text-align: center;
  }
  .home-slider {
    width: 100%;
    height: 380px;
  }
  .home-container03 {
    height: auto;
    flex-direction: column;
  }
  .home-container30 {
    height: auto;
    padding-top: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-container31 {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .home-container32 {
    align-self: center;
    align-items: center;
    justify-content: flex-start;
  }
  .home-container33 {
    width: 444px;
    align-items: center;
  }
  .home-text28 {
    color: rgb(0, 0, 0);
    width: 100%;
    font-style: normal;
    text-align: center;
  }
  .home-text33 {
    font-weight: 700;
  }
  .home-caption2 {
    width: 100%;
    text-align: center;
  }
  .home-navlink1 {
    align-self: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .home-container34 {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .home-image09 {
    display: none;
  }
  .home-container35 {
    align-self: center;
    align-items: center;
    justify-content: flex-start;
  }
  .home-container36 {
    width: 444px;
    align-items: center;
  }
  .home-text37 {
    color: rgb(0, 0, 0);
    width: 100%;
    text-align: center;
  }
  .home-text38 {
    text-align: center;
  }
  .home-caption3 {
    width: 100%;
    text-align: center;
  }
  .home-image10 {
    display: flex;
  }
  .home-container37 {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .home-image11 {
    display: none;
  }
  .home-container38 {
    align-self: center;
    align-items: center;
    justify-content: flex-start;
  }
  .home-container39 {
    width: 444px;
    align-items: center;
  }
  .home-text41 {
    width: 100%;
    text-align: center;
  }
  .home-caption4 {
    width: 100%;
    text-align: center;
  }
  .home-container40 {
    align-self: center;
  }
  .home-image12 {
    display: flex;
  }
  .home-image13 {
    top: 1186px;
  }
}
@media(max-width: 479px) {
  .home-hero {
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .home-hero1 {
    gap: var(--dl-space-space-threeunits);
    height: auto;
  }
  .home-container01 {
    width: 100%;
    align-items: center;
  }
  .home-text {
    text-align: center;
  }
  .home-caption {
    width: 100%;
  }
  .home-container02 {
    width: auto;
  }
  .home-slider {
    height: auto;
  }
  .home-container05 {
    width: 161px;
    background-color: #f7f7f7;
  }
  .home-image04 {
    height: auto;
  }
  .home-container06 {
    gap: 5px;
  }
  .home-text12 {
    color: #07003a;
    font-size: 12px;
  }
  .home-text13 {
    color: #07003a;
    font-size: 12px;
  }
  .home-container08 {
    align-items: flex-start;
    justify-content: flex-start;
  }
  .home-text14 {
    font-size: 8px;
  }
  .home-container09 {
    gap: var(--dl-space-space-halfunit);
  }
  .home-container10 {
    gap: var(--dl-space-space-halfunit);
    width: 100%;
    height: auto;
    padding: var(--dl-space-space-halfunit);
  }
  .home-text15 {
    width: auto;
    font-size: 10px;
  }
  .home-container11 {
    width: 161px;
    background-color: #f7f7f7;
  }
  .home-image05 {
    height: auto;
  }
  .home-container12 {
    gap: 5px;
  }
  .home-text16 {
    color: #07003a;
    font-size: 12px;
  }
  .home-text17 {
    color: #07003a;
    font-size: 12px;
  }
  .home-container14 {
    align-items: flex-start;
    justify-content: flex-start;
  }
  .home-text18 {
    font-size: 8px;
  }
  .home-container15 {
    gap: var(--dl-space-space-halfunit);
  }
  .home-container16 {
    gap: var(--dl-space-space-halfunit);
    width: 100%;
    height: auto;
    padding: var(--dl-space-space-halfunit);
  }
  .home-text19 {
    width: auto;
    font-size: 10px;
  }
  .home-container18 {
    width: 161px;
    background-color: #f7f7f7;
  }
  .home-image06 {
    height: auto;
  }
  .home-container19 {
    gap: 5px;
  }
  .home-text20 {
    color: #07003a;
    font-size: 12px;
  }
  .home-text21 {
    color: #07003a;
    font-size: 12px;
  }
  .home-container21 {
    align-items: flex-start;
    justify-content: flex-start;
  }
  .home-text22 {
    font-size: 8px;
  }
  .home-container22 {
    gap: var(--dl-space-space-halfunit);
  }
  .home-container23 {
    gap: var(--dl-space-space-halfunit);
    width: 100%;
    height: auto;
    padding: var(--dl-space-space-halfunit);
  }
  .home-text23 {
    width: auto;
    font-size: 10px;
  }
  .home-container24 {
    width: 161px;
    background-color: #f7f7f7;
  }
  .home-image07 {
    height: auto;
  }
  .home-container25 {
    gap: 5px;
  }
  .home-text24 {
    color: #07003a;
    font-size: 12px;
  }
  .home-text25 {
    color: #07003a;
    font-size: 12px;
  }
  .home-container27 {
    align-items: flex-start;
    justify-content: flex-start;
  }
  .home-text26 {
    font-size: 8px;
  }
  .home-container28 {
    gap: var(--dl-space-space-halfunit);
  }
  .home-container29 {
    gap: var(--dl-space-space-halfunit);
    width: 100%;
    height: auto;
    padding: var(--dl-space-space-halfunit);
  }
  .home-text27 {
    width: auto;
    font-size: 10px;
  }
  .home-container30 {
    gap: var(--dl-space-space-fourunits);
    height: auto;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .home-container32 {
    gap: var(--dl-space-space-unit);
    align-self: center;
    align-items: center;
  }
  .home-container33 {
    width: 100%;
  }
  .home-text28 {
    width: 100%;
    text-align: center;
  }
  .home-caption2 {
    width: 100%;
  }
  .home-navlink1 {
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  .home-image08 {
    height: auto;
  }
  .home-container35 {
    gap: var(--dl-space-space-unit);
    align-self: center;
    align-items: center;
  }
  .home-container36 {
    width: 100%;
  }
  .home-text37 {
    width: 100%;
    text-align: center;
  }
  .home-text38 {
    text-align: center;
  }
  .home-caption3 {
    width: 100%;
  }
  .home-image10 {
    width: 100%;
    height: auto;
  }
  .home-container38 {
    gap: var(--dl-space-space-unit);
    align-self: center;
    align-items: center;
  }
  .home-container39 {
    width: 100%;
  }
  .home-text41 {
    width: 100%;
    text-align: center;
  }
  .home-caption4 {
    width: 100%;
  }
  .home-image12 {
    width: 100%;
    height: auto;
  }
  .home-image13 {
    top: 1225px;
  }
}
