.header-lp-header-lp {
  gap: var(--dl-space-space-halfunit);
  top: 0px;
  width: 100%;
  display: flex;
  z-index: 100;
  position: fixed;
  max-width: auto;
  box-shadow: 5px 5px 15px 0px rgba(157, 157, 157, 0.45);
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-threeunits);
  border-radius: 0px;
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
  background-color: #ffffff;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.header-lp-image {
  width: 182px;
  height: 39px;
}
.header-lp-text {
  font-size: 20px;
  font-style: normal;
  font-family: "Oxygen";
  font-weight: 700;
}
@media(max-width: 479px) {
  .header-lp-header-lp {
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
  }
  .header-lp-image {
    width: 216px;
    height: 46px;
  }
}

.whatsapp-lp-container {
  gap: var(--dl-space-space-unit);
  width: 100%;
  bottom: 0px;
  height: 76px;
  display: flex;
  z-index: 100;
  position: fixed;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: row;
  justify-content: center;
  background-image: linear-gradient(90deg, rgb(20, 210, 0) 0.00%,rgb(4, 155, 16) 100.00%);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.whatsapp-lp-icon {
  fill: #ffffff;
  width: 50px;
  height: 50px;
}
.whatsapp-lp-container1 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.whatsapp-lp-text {
  color: #ffffff;
  font-size: 20px;
  align-self: flex-start;
  font-style: normal;
  text-align: left;
  font-weight: 700;
}

@media(max-width: 479px) {
  .whatsapp-lp-container {
    z-index: 100;
  }
}

.lp-uinfly-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: column;
  background-color: #ffffff;
}
.lp-uinfly-container01 {
  right: 8px;
  width: 100%;
  height: 709px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  background-image: url('https://wallpaperaccess.com/full/1668918.jpg');
  background-position: center;
}
.lp-uinfly-header {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  z-index: 1;
  position: relative;
  max-width: 1000px;
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  padding-top: var(--dl-space-space-threeunits);
  padding-left: 0px;
  padding-right: 0px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: center;
}
.lp-uinfly-image {
  width: 327px;
  height: 435px;
  object-fit: cover;
}
.lp-uinfly-container02 {
  gap: var(--dl-space-space-twounits);
  flex: 1;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  flex-direction: column;
  padding-bottom: 0px;
  justify-content: center;
}
.lp-uinfly-container03 {
  gap: var(--dl-space-space-twounits);
  flex: 1;
  width: 100%;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-twounits);
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  border-radius: 20px;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}
.lp-uinfly-container04 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.lp-uinfly-text {
  font-size: 30px;
  font-style: normal;
  font-family: "Oxygen";
  font-weight: 700;
}
.lp-uinfly-container05 {
  width: 100%;
  height: 2px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0.00%,rgb(159, 159, 159) 50.00%,rgba(255, 255, 255, 0) 100.00%);
}
.lp-uinfly-text01 {
  font-size: 16px;
  font-style: normal;
  text-align: center;
  font-family: "Oxygen";
  font-weight: 400;
}
.lp-uinfly-container06 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.lp-uinfly-link {
  display: contents;
}
.lp-uinfly-container07 {
  flex: 0 0 auto;
  width: auto;
  cursor: pointer;
  height: auto;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  border-radius: 30px;
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  justify-content: center;
  text-decoration: none;
  background-color: #d6b314;
}
.lp-uinfly-text02 {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-style: normal;
  font-family: "Oxygen";
  font-weight: 400;
}
.lp-uinfly-container08 {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-unit);
  z-index: 2;
  max-width: 1000px;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.lp-uinfly-text03 {
  font-size: 20px;
  font-style: normal;
  font-family: "Oxygen";
  font-weight: 700;
}
.lp-uinfly-container09 {
  width: 100%;
  height: 2px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-image: linear-gradient(90deg, rgb(255, 255, 255) 0.00%,rgb(202, 202, 202) 49.00%,rgb(255, 255, 255) 100.00%);
}
.lp-uinfly-container10 {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.lp-uinfly-container11 {
  gap: var(--dl-space-space-unit);
  flex: 1;
  width: 100%;
  height: auto;
  display: flex;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-halfunit);
  border-radius: 20px;
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: center;
}
.lp-uinfly-icon {
  fill: #ef7a0e;
  width: 45px;
  height: auto;
}
.lp-uinfly-text04 {
  font-size: 16px;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-family: "Oxygen";
  font-weight: 700;
}
.lp-uinfly-container12 {
  gap: var(--dl-space-space-unit);
  flex: 1;
  width: 100%;
  height: auto;
  display: flex;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-halfunit);
  border-radius: 20px;
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: center;
}
.lp-uinfly-icon02 {
  fill: #ef7a0e;
  width: 45px;
  height: auto;
}
.lp-uinfly-text05 {
  font-size: 16px;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-family: "Oxygen";
  font-weight: 700;
}
.lp-uinfly-container13 {
  gap: var(--dl-space-space-unit);
  flex: 1;
  width: 100%;
  height: auto;
  display: flex;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-halfunit);
  border-radius: 20px;
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: center;
}
.lp-uinfly-icon04 {
  fill: #ef7a0e;
  width: 45px;
  height: auto;
}
.lp-uinfly-text06 {
  font-size: 16px;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-family: "Oxygen";
  font-weight: 700;
}
.lp-uinfly-container14 {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.lp-uinfly-container15 {
  gap: var(--dl-space-space-unit);
  flex: 1;
  width: 100%;
  height: auto;
  display: flex;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-halfunit);
  border-radius: 20px;
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: center;
}
.lp-uinfly-icon06 {
  fill: #ef7a0e;
  width: 45px;
  height: auto;
}
.lp-uinfly-text07 {
  font-size: 16px;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-family: "Oxygen";
  font-weight: 700;
}
.lp-uinfly-container16 {
  gap: var(--dl-space-space-unit);
  flex: 1;
  width: 100%;
  height: auto;
  display: flex;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-halfunit);
  border-radius: 20px;
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: center;
}
.lp-uinfly-icon08 {
  fill: #ef7a0e;
  width: 45px;
  height: auto;
}
.lp-uinfly-text08 {
  font-size: 16px;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-family: "Oxygen";
  font-weight: 700;
}
.lp-uinfly-container17 {
  gap: var(--dl-space-space-unit);
  flex: 1;
  width: 100%;
  height: auto;
  display: flex;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-halfunit);
  border-radius: 20px;
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: center;
}
.lp-uinfly-icon10 {
  fill: #ef7a0e;
  width: 45px;
  height: auto;
}
.lp-uinfly-text09 {
  font-size: 16px;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-family: "Oxygen";
  font-weight: 700;
}
.lp-uinfly-container18 {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.lp-uinfly-image01 {
  width: 200px;
  object-fit: cover;
}
.lp-uinfly-image02 {
  width: 200px;
  object-fit: cover;
}
.lp-uinfly-image03 {
  width: 200px;
  object-fit: cover;
}
.lp-uinfly-image04 {
  width: 200px;
  object-fit: cover;
}
.lp-uinfly-image05 {
  width: 200px;
  object-fit: cover;
}
.lp-uinfly-image06 {
  width: 200px;
  object-fit: cover;
}
.lp-uinfly-image07 {
  width: 200px;
  object-fit: cover;
}
.lp-uinfly-deskription {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  max-width: 1000px;
  align-items: center;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  flex-direction: column;
  padding-bottom: 0px;
  justify-content: center;
}
.lp-uinfly-container19 {
  gap: var(--dl-space-space-unit);
  flex: 1;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  justify-content: center;
}
.lp-uinfly-image08 {
  width: 200px;
  object-fit: cover;
}
.lp-uinfly-container20 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.lp-uinfly-text10 {
  font-size: 20px;
  font-style: normal;
  font-family: "Oxygen";
  font-weight: 700;
}
.lp-uinfly-container21 {
  width: 100%;
  height: 2px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-image: linear-gradient(90deg, rgb(255, 255, 255) 0.00%,rgb(202, 202, 202) 49.00%,rgb(255, 255, 255) 100.00%);
}
.lp-uinfly-text11 {
  font-size: 16px;
  font-style: normal;
  text-align: center;
  font-family: "Oxygen";
  font-weight: 400;
}
.lp-uinfly-text13 {
  font-weight: 700;
}
.lp-uinfly-link1 {
  display: contents;
}
.lp-uinfly-container22 {
  flex: 0 0 auto;
  width: auto;
  cursor: pointer;
  height: auto;
  display: flex;
  transition: 0.9s;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
  justify-content: center;
  text-decoration: none;
  background-color: #5f5f5f;
}
.lp-uinfly-container22:hover {
  gap: var(--dl-space-space-halfunit);
  background-color: #909090;
}
.lp-uinfly-text15 {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-style: normal;
  font-family: "Oxygen";
  font-weight: 400;
}
.lp-uinfly-slider {
  width: 100%;
  height: auto;
  display: inline-block;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: var(--dl-radius-radius-radius8);
  border-bottom-right-radius: var(--dl-radius-radius-radius8);
}
.lp-uinfly-slider-pagination {
  height: 10px;
  display: none;
}
.lp-uinfly-slider-slide {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.lp-uinfly-link2 {
  display: contents;
}
.lp-uinfly-image09 {
  width: 483px;
  height: 483px;
  object-fit: cover;
  text-decoration: none;
}
.lp-uinfly-container23 {
  flex: 0 0 auto;
  width: auto;
  cursor: pointer;
  height: auto;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
  background-color: #5f5f5f;
}
.lp-uinfly-text16 {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-style: normal;
  font-family: "Oxygen";
  font-weight: 400;
}
.lp-uinfly-slider-slide1 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.lp-uinfly-link3 {
  display: contents;
}
.lp-uinfly-image10 {
  width: 483px;
  height: 483px;
  object-fit: cover;
  text-decoration: none;
}
.lp-uinfly-container24 {
  flex: 0 0 auto;
  width: auto;
  cursor: pointer;
  height: auto;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
  background-color: #5f5f5f;
}
.lp-uinfly-text17 {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-style: normal;
  font-family: "Oxygen";
  font-weight: 400;
}
.lp-uinfly-slider-slide2 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.lp-uinfly-link4 {
  display: contents;
}
.lp-uinfly-image11 {
  width: 483px;
  height: 483px;
  object-fit: cover;
  text-decoration: none;
}
.lp-uinfly-container25 {
  flex: 0 0 auto;
  width: auto;
  cursor: pointer;
  height: auto;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
  background-color: #5f5f5f;
}
.lp-uinfly-text18 {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-style: normal;
  font-family: "Oxygen";
  font-weight: 400;
}
.lp-uinfly-slider-button-prev {
  color: #a0a0a0;
  display: block;
}
.lp-uinfly-slider-button-next {
  color: #a0a0a0;
  display: block;
}
.lp-uinfly-container26 {
  gap: var(--dl-space-space-halfunit);
  flex: 1;
  width: 100%;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-unit);
  max-width: 1000px;
  margin-top: var(--dl-space-space-fourunits);
  align-items: center;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: center;
}
.lp-uinfly-text19 {
  font-size: 20px;
  font-style: normal;
  font-family: "Oxygen";
  font-weight: 700;
}
.lp-uinfly-container27 {
  width: 100%;
  height: 2px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-image: linear-gradient(90deg, rgb(255, 255, 255) 0.00%,rgb(202, 202, 202) 49.00%,rgb(255, 255, 255) 100.00%);
}
.lp-uinfly-text20 {
  font-size: 16px;
  font-style: normal;
  text-align: center;
  font-family: "Oxygen";
  font-weight: 400;
}
.lp-uinfly-deskription1 {
  gap: var(--dl-space-space-halfunit);
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  max-width: 1000px;
  align-items: flex-start;
  padding-top: 0px;
  padding-left: 0px;
  margin-bottom: var(--dl-space-space-halfunit);
  padding-right: 0px;
  flex-direction: row;
  padding-bottom: 0px;
  justify-content: center;
}
.lp-uinfly-container28 {
  gap: var(--dl-space-space-halfunit);
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.lp-uinfly-container29 {
  gap: var(--dl-space-space-unit);
  flex: 1;
  width: 100%;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  box-shadow: 5px 5px 5px 0px rgba(212, 212, 212, 0.46);
  align-items: center;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  justify-content: center;
}
.lp-uinfly-image12 {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 15px;
}
.lp-uinfly-text21 {
  font-size: 16px;
  font-style: normal;
  text-align: center;
  font-family: "Oxygen";
  font-weight: 700;
}
.lp-uinfly-container30 {
  width: 100%;
  height: 2px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-image: linear-gradient(90deg, rgb(255, 255, 255) 0.00%,rgb(202, 202, 202) 49.00%,rgb(255, 255, 255) 100.00%);
}
.lp-uinfly-container31 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.lp-uinfly-icon12 {
  fill: #ff0000;
  width: 20px;
  height: auto;
}
.lp-uinfly-text22 {
  font-size: 14px;
  font-style: normal;
  text-align: center;
  font-family: "Oxygen";
  font-weight: 400;
}
.lp-uinfly-container32 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.lp-uinfly-icon14 {
  fill: #ff0000;
  width: 20px;
  height: auto;
}
.lp-uinfly-text23 {
  font-size: 14px;
  font-style: normal;
  text-align: center;
  font-family: "Oxygen";
  font-weight: 400;
}
.lp-uinfly-container33 {
  gap: var(--dl-space-space-halfunit);
  flex: 0 0 auto;
  width: auto;
  cursor: pointer;
  height: auto;
  display: flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  border-color: #ff0000;
  border-width: 2px;
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
}
.lp-uinfly-container33:hover {
  scale: 105%;
  box-shadow: 5px 5px 10px 0px #b3b3b3;
}
.lp-uinfly-text24 {
  color: #ff0000;
  font-size: 14px;
  font-style: normal;
  font-family: "Oxygen";
  font-weight: 400;
}
.lp-uinfly-icon16 {
  fill: #ff0000;
  width: 16px;
  height: auto;
}
.lp-uinfly-container34 {
  gap: var(--dl-space-space-unit);
  flex: 1;
  width: 100%;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  box-shadow: 5px 5px 5px 0px rgba(212, 212, 212, 0.46);
  align-items: center;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  justify-content: center;
}
.lp-uinfly-image13 {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 15px;
}
.lp-uinfly-text25 {
  font-size: 16px;
  font-style: normal;
  text-align: center;
  font-family: "Oxygen";
  font-weight: 700;
}
.lp-uinfly-container35 {
  width: 100%;
  height: 2px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-image: linear-gradient(90deg, rgb(255, 255, 255) 0.00%,rgb(202, 202, 202) 49.00%,rgb(255, 255, 255) 100.00%);
}
.lp-uinfly-container36 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.lp-uinfly-icon20 {
  fill: #ff0000;
  width: 20px;
  height: auto;
}
.lp-uinfly-text26 {
  font-size: 14px;
  font-style: normal;
  text-align: center;
  font-family: "Oxygen";
  font-weight: 400;
}
.lp-uinfly-container37 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.lp-uinfly-icon22 {
  fill: #ff0000;
  width: 20px;
  height: auto;
}
.lp-uinfly-text27 {
  font-size: 14px;
  font-style: normal;
  text-align: center;
  font-family: "Oxygen";
  font-weight: 400;
}
.lp-uinfly-container38 {
  gap: var(--dl-space-space-halfunit);
  flex: 0 0 auto;
  width: auto;
  cursor: pointer;
  height: auto;
  display: flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  border-color: #ff0000;
  border-width: 2px;
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
}
.lp-uinfly-container38:hover {
  scale: 105%;
  box-shadow: 5px 5px 10px 0px #b3b3b3;
}
.lp-uinfly-text28 {
  color: #ff0000;
  font-size: 14px;
  font-style: normal;
  font-family: "Oxygen";
  font-weight: 400;
}
.lp-uinfly-icon24 {
  fill: #ff0000;
  width: 16px;
  height: auto;
}
.lp-uinfly-container39 {
  gap: var(--dl-space-space-halfunit);
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.lp-uinfly-container40 {
  gap: var(--dl-space-space-unit);
  flex: 1;
  width: 100%;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  box-shadow: 5px 5px 5px 0px rgba(212, 212, 212, 0.46);
  align-items: center;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  justify-content: center;
}
.lp-uinfly-image14 {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 15px;
}
.lp-uinfly-text29 {
  font-size: 16px;
  font-style: normal;
  text-align: center;
  font-family: "Oxygen";
  font-weight: 700;
}
.lp-uinfly-container41 {
  width: 100%;
  height: 2px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-image: linear-gradient(90deg, rgb(255, 255, 255) 0.00%,rgb(202, 202, 202) 49.00%,rgb(255, 255, 255) 100.00%);
}
.lp-uinfly-container42 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.lp-uinfly-icon28 {
  fill: #ff0000;
  width: 20px;
  height: auto;
}
.lp-uinfly-text30 {
  font-size: 14px;
  font-style: normal;
  text-align: center;
  font-family: "Oxygen";
  font-weight: 400;
}
.lp-uinfly-container43 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.lp-uinfly-icon30 {
  fill: #ff0000;
  width: 20px;
  height: auto;
}
.lp-uinfly-text31 {
  font-size: 14px;
  font-style: normal;
  text-align: center;
  font-family: "Oxygen";
  font-weight: 400;
}
.lp-uinfly-container44 {
  gap: var(--dl-space-space-halfunit);
  flex: 0 0 auto;
  width: auto;
  cursor: pointer;
  height: auto;
  display: flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  border-color: #ff0000;
  border-width: 2px;
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
}
.lp-uinfly-container44:hover {
  scale: 105%;
  box-shadow: 5px 5px 10px 0px #b3b3b3;
}
.lp-uinfly-text32 {
  color: #ff0000;
  font-size: 14px;
  font-style: normal;
  font-family: "Oxygen";
  font-weight: 400;
}
.lp-uinfly-icon32 {
  fill: #ff0000;
  width: 16px;
  height: auto;
}
.lp-uinfly-container45 {
  gap: var(--dl-space-space-unit);
  flex: 1;
  width: 100%;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  box-shadow: 5px 5px 5px 0px rgba(212, 212, 212, 0.46);
  align-items: center;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  justify-content: center;
}
.lp-uinfly-image15 {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 15px;
}
.lp-uinfly-text33 {
  font-size: 16px;
  font-style: normal;
  text-align: center;
  font-family: "Oxygen";
  font-weight: 700;
}
.lp-uinfly-container46 {
  width: 100%;
  height: 2px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-image: linear-gradient(90deg, rgb(255, 255, 255) 0.00%,rgb(202, 202, 202) 49.00%,rgb(255, 255, 255) 100.00%);
}
.lp-uinfly-container47 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.lp-uinfly-icon36 {
  fill: #ff0000;
  width: 20px;
  height: auto;
}
.lp-uinfly-text34 {
  font-size: 14px;
  font-style: normal;
  text-align: center;
  font-family: "Oxygen";
  font-weight: 400;
}
.lp-uinfly-container48 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.lp-uinfly-icon38 {
  fill: #ff0000;
  width: 20px;
  height: auto;
}
.lp-uinfly-text35 {
  font-size: 14px;
  font-style: normal;
  text-align: center;
  font-family: "Oxygen";
  font-weight: 400;
}
.lp-uinfly-container49 {
  gap: var(--dl-space-space-halfunit);
  flex: 0 0 auto;
  width: auto;
  cursor: pointer;
  height: auto;
  display: flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  border-color: #ff0000;
  border-width: 2px;
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
}
.lp-uinfly-container49:hover {
  scale: 105%;
  box-shadow: 5px 5px 10px 0px #b3b3b3;
}
.lp-uinfly-text36 {
  color: #ff0000;
  font-size: 14px;
  font-style: normal;
  font-family: "Oxygen";
  font-weight: 400;
}
.lp-uinfly-icon40 {
  fill: #ff0000;
  width: 16px;
  height: auto;
}
.lp-uinfly-deskription2 {
  gap: var(--dl-space-space-halfunit);
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  max-width: 1000px;
  align-items: flex-start;
  padding-top: 0px;
  padding-left: 0px;
  margin-bottom: var(--dl-space-space-halfunit);
  padding-right: 0px;
  flex-direction: row;
  padding-bottom: 0px;
  justify-content: center;
}
.lp-uinfly-container50 {
  gap: var(--dl-space-space-halfunit);
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.lp-uinfly-container51 {
  gap: var(--dl-space-space-unit);
  flex: 1;
  width: 100%;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  box-shadow: 5px 5px 5px 0px rgba(212, 212, 212, 0.46);
  align-items: center;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  justify-content: center;
}
.lp-uinfly-image16 {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 15px;
}
.lp-uinfly-text37 {
  font-size: 16px;
  font-style: normal;
  text-align: center;
  font-family: "Oxygen";
  font-weight: 700;
}
.lp-uinfly-container52 {
  width: 100%;
  height: 2px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-image: linear-gradient(90deg, rgb(255, 255, 255) 0.00%,rgb(202, 202, 202) 49.00%,rgb(255, 255, 255) 100.00%);
}
.lp-uinfly-container53 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.lp-uinfly-icon44 {
  fill: #ff0000;
  width: 20px;
  height: auto;
}
.lp-uinfly-text38 {
  font-size: 14px;
  font-style: normal;
  text-align: center;
  font-family: "Oxygen";
  font-weight: 400;
}
.lp-uinfly-container54 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.lp-uinfly-icon46 {
  fill: #ff0000;
  width: 20px;
  height: auto;
}
.lp-uinfly-text39 {
  font-size: 14px;
  font-style: normal;
  text-align: center;
  font-family: "Oxygen";
  font-weight: 400;
}
.lp-uinfly-container55 {
  gap: var(--dl-space-space-halfunit);
  flex: 0 0 auto;
  width: auto;
  cursor: pointer;
  height: auto;
  display: flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  border-color: #ff0000;
  border-width: 2px;
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
}
.lp-uinfly-container55:hover {
  scale: 105%;
  box-shadow: 5px 5px 10px 0px #b3b3b3;
}
.lp-uinfly-text40 {
  color: #ff0000;
  font-size: 14px;
  font-style: normal;
  font-family: "Oxygen";
  font-weight: 400;
}
.lp-uinfly-icon48 {
  fill: #ff0000;
  width: 16px;
  height: auto;
}
.lp-uinfly-container56 {
  gap: var(--dl-space-space-unit);
  flex: 1;
  width: 100%;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  box-shadow: 5px 5px 5px 0px rgba(212, 212, 212, 0.46);
  align-items: center;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  justify-content: center;
}
.lp-uinfly-image17 {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 15px;
}
.lp-uinfly-text41 {
  font-size: 16px;
  font-style: normal;
  text-align: center;
  font-family: "Oxygen";
  font-weight: 700;
}
.lp-uinfly-container57 {
  width: 100%;
  height: 2px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-image: linear-gradient(90deg, rgb(255, 255, 255) 0.00%,rgb(202, 202, 202) 49.00%,rgb(255, 255, 255) 100.00%);
}
.lp-uinfly-container58 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.lp-uinfly-icon52 {
  fill: #ff0000;
  width: 20px;
  height: auto;
}
.lp-uinfly-text42 {
  font-size: 14px;
  font-style: normal;
  text-align: center;
  font-family: "Oxygen";
  font-weight: 400;
}
.lp-uinfly-container59 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.lp-uinfly-icon54 {
  fill: #ff0000;
  width: 20px;
  height: auto;
}
.lp-uinfly-text43 {
  font-size: 14px;
  font-style: normal;
  text-align: center;
  font-family: "Oxygen";
  font-weight: 400;
}
.lp-uinfly-container60 {
  gap: var(--dl-space-space-halfunit);
  flex: 0 0 auto;
  width: auto;
  cursor: pointer;
  height: auto;
  display: flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  border-color: #ff0000;
  border-width: 2px;
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
}
.lp-uinfly-container60:hover {
  scale: 105%;
  box-shadow: 5px 5px 10px 0px #b3b3b3;
}
.lp-uinfly-text44 {
  color: #ff0000;
  font-size: 14px;
  font-style: normal;
  font-family: "Oxygen";
  font-weight: 400;
}
.lp-uinfly-icon56 {
  fill: #ff0000;
  width: 16px;
  height: auto;
}
.lp-uinfly-container61 {
  gap: var(--dl-space-space-halfunit);
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.lp-uinfly-container62 {
  gap: var(--dl-space-space-unit);
  flex: 1;
  width: 100%;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  box-shadow: 5px 5px 5px 0px rgba(212, 212, 212, 0.46);
  align-items: center;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  justify-content: center;
}
.lp-uinfly-image18 {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 15px;
}
.lp-uinfly-text45 {
  font-size: 16px;
  font-style: normal;
  text-align: center;
  font-family: "Oxygen";
  font-weight: 700;
}
.lp-uinfly-container63 {
  width: 100%;
  height: 2px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-image: linear-gradient(90deg, rgb(255, 255, 255) 0.00%,rgb(202, 202, 202) 49.00%,rgb(255, 255, 255) 100.00%);
}
.lp-uinfly-container64 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.lp-uinfly-icon60 {
  fill: #ff0000;
  width: 20px;
  height: auto;
}
.lp-uinfly-text46 {
  font-size: 14px;
  font-style: normal;
  text-align: center;
  font-family: "Oxygen";
  font-weight: 400;
}
.lp-uinfly-container65 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.lp-uinfly-icon62 {
  fill: #ff0000;
  width: 20px;
  height: auto;
}
.lp-uinfly-text47 {
  font-size: 14px;
  font-style: normal;
  text-align: center;
  font-family: "Oxygen";
  font-weight: 400;
}
.lp-uinfly-container66 {
  gap: var(--dl-space-space-halfunit);
  flex: 0 0 auto;
  width: auto;
  cursor: pointer;
  height: auto;
  display: flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  border-color: #ff0000;
  border-width: 2px;
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
}
.lp-uinfly-container66:hover {
  scale: 105%;
  box-shadow: 5px 5px 10px 0px #b3b3b3;
}
.lp-uinfly-text48 {
  color: #ff0000;
  font-size: 14px;
  font-style: normal;
  font-family: "Oxygen";
  font-weight: 400;
}
.lp-uinfly-icon64 {
  fill: #ff0000;
  width: 16px;
  height: auto;
}
.lp-uinfly-container67 {
  gap: var(--dl-space-space-unit);
  flex: 1;
  width: 100%;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  box-shadow: 5px 5px 5px 0px rgba(212, 212, 212, 0.46);
  align-items: center;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  justify-content: center;
}
.lp-uinfly-image19 {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 15px;
}
.lp-uinfly-text49 {
  font-size: 16px;
  font-style: normal;
  text-align: center;
  font-family: "Oxygen";
  font-weight: 700;
}
.lp-uinfly-container68 {
  width: 100%;
  height: 2px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-image: linear-gradient(90deg, rgb(255, 255, 255) 0.00%,rgb(202, 202, 202) 49.00%,rgb(255, 255, 255) 100.00%);
}
.lp-uinfly-container69 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.lp-uinfly-icon68 {
  fill: #ff0000;
  width: 20px;
  height: auto;
}
.lp-uinfly-text50 {
  font-size: 14px;
  font-style: normal;
  text-align: center;
  font-family: "Oxygen";
  font-weight: 400;
}
.lp-uinfly-container70 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.lp-uinfly-icon70 {
  fill: #ff0000;
  width: 20px;
  height: auto;
}
.lp-uinfly-text51 {
  font-size: 14px;
  font-style: normal;
  text-align: center;
  font-family: "Oxygen";
  font-weight: 400;
}
.lp-uinfly-container71 {
  gap: var(--dl-space-space-halfunit);
  flex: 0 0 auto;
  width: auto;
  cursor: pointer;
  height: auto;
  display: flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  border-color: #ff0000;
  border-width: 2px;
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
}
.lp-uinfly-container71:hover {
  scale: 105%;
  box-shadow: 5px 5px 10px 0px #b3b3b3;
}
.lp-uinfly-text52 {
  color: #ff0000;
  font-size: 14px;
  font-style: normal;
  font-family: "Oxygen";
  font-weight: 400;
}
.lp-uinfly-icon72 {
  fill: #ff0000;
  width: 16px;
  height: auto;
}
.lp-uinfly-container72 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  max-width: 1000px;
  margin-top: var(--dl-space-space-fourunits);
  align-items: center;
  flex-direction: column;
}
.lp-uinfly-container73 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.lp-uinfly-text53 {
  color: rgb(0, 0, 0);
  width: 100%;
  font-size: 20px;
  text-align: center;
  font-family: "Oxygen";
  font-weight: 600;
  margin-bottom: 0px;
}
.lp-uinfly-container74 {
  width: 100%;
  height: 2px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-image: linear-gradient(90deg, rgb(255, 255, 255) 0.00%,rgb(202, 202, 202) 49.00%,rgb(255, 255, 255) 100.00%);
}
.lp-uinfly-video {
  width: 100%;
  height: auto;
  max-width: 1000px;
  border-radius: 20px;
}
.lp-uinfly-banner {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  z-index: 1;
  max-width: 1000px;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  margin-top: var(--dl-space-space-twounits);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-twounits);
  border-radius: 20px;
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: center;
}
.lp-uinfly-container75 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  align-items: center;
  margin-right: 0px;
  flex-direction: column;
  justify-content: flex-start;
}
.lp-uinfly-container76 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.lp-uinfly-text54 {
  color: #000000;
  width: 100%;
  font-size: 20px;
  text-align: center;
  font-family: "Oxygen";
  font-weight: 600;
  margin-bottom: 0px;
}
.lp-uinfly-container77 {
  width: 100%;
  height: 2px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0.00%,rgb(170, 170, 170) 49.00%,rgba(255, 255, 255, 0) 100.00%);
}
.lp-uinfly-container78 {
  gap: var(--dl-space-space-threeunits);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.lp-uinfly-container79 {
  gap: var(--dl-space-space-unit);
  flex: 1;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.lp-uinfly-text55 {
  color: #000000;
  width: 100%;
  font-size: 16px;
  font-style: normal;
  text-align: left;
  font-family: "Oxygen";
  font-weight: 700;
  margin-bottom: 0px;
}
.lp-uinfly-text56 {
  color: #000000;
  font-family: "Oxygen";
  margin-right: 0px;
}
.lp-uinfly-text57 {
  color: #000000;
  width: 100%;
  font-size: 16px;
  font-style: normal;
  text-align: left;
  font-family: "Oxygen";
  font-weight: 700;
  margin-bottom: 0px;
}
.lp-uinfly-link5 {
  display: contents;
}
.lp-uinfly-container80 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  cursor: pointer;
  height: 57px;
  display: flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
  text-decoration: none;
  background-color: #33bf04;
}
.lp-uinfly-container80:hover {
  scale: 105%;
  box-shadow: 5px 5px 10px 0px rgba(89, 88, 88, 0.5);
  background-color: #0034df;
}
.lp-uinfly-icon76 {
  fill: #ffffff;
  width: 30px;
  height: auto;
}
.lp-uinfly-text58 {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-style: normal;
  font-family: "Inter";
  font-weight: 600;
}
.lp-uinfly-container81 {
  flex: 1;
  width: 100%;
  height: 261px;
  display: flex;
  overflow: hidden;
  align-items: center;
  border-color: #ffffff;
  border-width: 3px;
  border-radius: 20px;
  flex-direction: column;
  justify-content: center;
}
.lp-uinfly-container82 {
  width: 100%;
  height: 100%;
}
.lp-uinfly-container83 {
  display: contents;
}
.lp-uinfly-banner1 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  z-index: 1;
  max-width: 1000px;
  margin-top: var(--dl-space-space-twounits);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: flex-start;
}
.lp-uinfly-image20 {
  width: 184px;
  height: 184px;
  object-fit: cover;
  flex-shrink: 0;
}
.lp-uinfly-container84 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-right: 0px;
  flex-direction: column;
  justify-content: space-between;
}
.lp-uinfly-text59 {
  width: 100%;
  font-size: 20px;
  text-align: center;
  font-family: "Oxygen";
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.lp-uinfly-text62 {
  font-family: "Oxygen";
  margin-right: var(--dl-space-space-threeunits);
}
.lp-uinfly-text64 {
  font-family: "Oxygen";
}
.lp-uinfly-text67 {
  font-family: "Oxygen";
}
.lp-uinfly-footer {
  width: 100%;
  display: flex;
  z-index: 1;
  max-width: 1000px;
  align-self: center;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-threeunits);
  margin-bottom: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: space-between;
}
.lp-uinfly-image21 {
  width: 197px;
  height: 51px;
  object-fit: cover;
}
.lp-uinfly-link6 {
  display: contents;
}
.lp-uinfly-component1 {
  text-decoration: none;
}
@media(max-width: 991px) {
  .lp-uinfly-container02 {
    width: 100%;
    padding-top: 0px;
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: 0px;
  }
  .lp-uinfly-container03 {
    width: 100%;
  }
  .lp-uinfly-text53 {
    text-align: center;
  }
  .lp-uinfly-banner {
    flex-direction: column;
  }
  .lp-uinfly-container75 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .lp-uinfly-text54 {
    text-align: center;
  }
  .lp-uinfly-text55 {
    text-align: center;
  }
  .lp-uinfly-text56 {
    text-align: center;
    margin-left: 0px;
    margin-right: 0px;
  }
  .lp-uinfly-text57 {
    text-align: center;
  }
  .lp-uinfly-banner1 {
    flex-direction: column;
  }
  .lp-uinfly-image20 {
    width: var(--dl-size-size-xxlarge);
    height: var(--dl-size-size-xxlarge);
  }
  .lp-uinfly-container84 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .lp-uinfly-text59 {
    text-align: center;
  }
  .lp-uinfly-text62 {
    text-align: center;
    margin-left: 0px;
    margin-right: 0px;
  }
}
@media(max-width: 767px) {
  .lp-uinfly-container02 {
    width: 100%;
  }
  .lp-uinfly-container03 {
    width: 100%;
  }
  .lp-uinfly-text01 {
    text-align: center;
  }
  .lp-uinfly-deskription1 {
    flex-direction: column;
  }
  .lp-uinfly-container28 {
    width: 100%;
  }
  .lp-uinfly-container39 {
    width: 100%;
  }
  .lp-uinfly-deskription2 {
    flex-direction: column;
  }
  .lp-uinfly-container50 {
    width: 100%;
  }
  .lp-uinfly-container61 {
    width: 100%;
  }
  .lp-uinfly-text53 {
    text-align: center;
  }
  .lp-uinfly-video {
    height: auto;
  }
  .lp-uinfly-banner {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .lp-uinfly-text54 {
    text-align: center;
  }
  .lp-uinfly-container78 {
    flex-direction: column;
  }
  .lp-uinfly-container79 {
    align-items: center;
    flex-direction: column;
  }
  .lp-uinfly-text55 {
    text-align: center;
  }
  .lp-uinfly-text57 {
    text-align: center;
  }
  .lp-uinfly-container82 {
    height: 445px;
  }
  .lp-uinfly-banner1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .lp-uinfly-text59 {
    text-align: center;
  }
  .lp-uinfly-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .lp-uinfly-text70 {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .lp-uinfly-container01 {
    height: 873px;
  }
  .lp-uinfly-header {
    margin-top: var(--dl-space-space-sixunits);
  }
  .lp-uinfly-image {
    width: 334px;
    height: 444px;
    margin-top: var(--dl-space-space-fiveunits);
  }
  .lp-uinfly-container02 {
    width: 100%;
    height: auto;
    align-items: center;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    justify-content: flex-start;
  }
  .lp-uinfly-container03 {
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: flex-start;
  }
  .lp-uinfly-text {
    font-size: 40px;
    text-align: center;
  }
  .lp-uinfly-text01 {
    text-align: center;
  }
  .lp-uinfly-container06 {
    align-self: center;
    align-items: center;
    flex-direction: column;
  }
  .lp-uinfly-container10 {
    flex-direction: column;
  }
  .lp-uinfly-container11 {
    width: 100%;
    height: 160px;
    align-items: center;
    justify-content: flex-start;
  }
  .lp-uinfly-icon {
    height: var(--dl-size-size-small);
  }
  .lp-uinfly-container12 {
    width: 100%;
    height: 160px;
    align-items: center;
    justify-content: flex-start;
  }
  .lp-uinfly-icon02 {
    height: var(--dl-size-size-small);
  }
  .lp-uinfly-container13 {
    width: 100%;
    height: 160px;
    align-items: center;
    justify-content: flex-start;
  }
  .lp-uinfly-icon04 {
    height: var(--dl-size-size-small);
  }
  .lp-uinfly-container14 {
    flex-direction: column;
  }
  .lp-uinfly-container15 {
    width: 100%;
    height: 160px;
    align-items: center;
    justify-content: flex-start;
  }
  .lp-uinfly-icon06 {
    height: var(--dl-size-size-small);
  }
  .lp-uinfly-container16 {
    width: 100%;
    height: 160px;
    align-items: center;
    justify-content: flex-start;
  }
  .lp-uinfly-icon08 {
    height: var(--dl-size-size-small);
  }
  .lp-uinfly-container17 {
    width: 100%;
    height: 160px;
    align-items: center;
    justify-content: flex-start;
  }
  .lp-uinfly-icon10 {
    height: var(--dl-size-size-small);
  }
  .lp-uinfly-deskription {
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
    flex-direction: column;
  }
  .lp-uinfly-container23 {
    background-color: #1a83ff;
  }
  .lp-uinfly-container24 {
    background-color: #4ba6bd;
  }
  .lp-uinfly-container26 {
    gap: var(--dl-space-space-halfunit);
  }
  .lp-uinfly-deskription1 {
    padding-left: 0px;
    padding-right: 0px;
    flex-direction: column;
  }
  .lp-uinfly-deskription2 {
    padding-left: 0px;
    padding-right: 0px;
    flex-direction: column;
  }
  .lp-uinfly-text53 {
    text-align: center;
  }
  .lp-uinfly-banner {
    gap: var(--dl-space-space-unit);
    height: auto;
    align-items: center;
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
    justify-content: center;
  }
  .lp-uinfly-container75 {
    align-items: center;
  }
  .lp-uinfly-text54 {
    text-align: center;
  }
  .lp-uinfly-container79 {
    gap: var(--dl-space-space-unit);
  }
  .lp-uinfly-text55 {
    text-align: center;
  }
  .lp-uinfly-text57 {
    text-align: center;
  }
  .lp-uinfly-container80 {
    width: 100%;
  }
  .lp-uinfly-container81 {
    height: auto;
  }
  .lp-uinfly-container82 {
    height: 354px;
    border-radius: var(--dl-radius-radius-radius8);
  }
  .lp-uinfly-banner1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .lp-uinfly-image20 {
    width: var(--dl-size-size-xlarge);
    height: var(--dl-size-size-xlarge);
  }
  .lp-uinfly-container84 {
    align-items: center;
  }
  .lp-uinfly-text59 {
    text-align: center;
  }
  .lp-uinfly-footer {
    padding: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .lp-uinfly-image21 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .lp-uinfly-text70 {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
}
