.set-menu-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.set-menu-menu {
  gap: var(--dl-space-space-halfunit);
  width: auto;
  display: flex;
  position: relative;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  flex-direction: column;
}
.set-menu-text {
  font-size: 15px;
  transition: 0.3s;
  text-decoration: none;
}
.set-menu-text:hover {
  color: var(--dl-color-secondary-700);
  transform: translate(5px,0px);
  font-style: normal;
  font-weight: 500;
}
.set-menu-text01 {
  font-size: 15px;
  transition: 0.3s;
  text-decoration: none;
}
.set-menu-text01:hover {
  color: var(--dl-color-secondary-700);
  transform: translate(5px,0px);
  font-style: normal;
  font-weight: 500;
}
.set-menu-text02 {
  font-size: 15px;
  transition: 0.3s;
  text-decoration: none;
}
.set-menu-text02:hover {
  color: var(--dl-color-secondary-700);
  transform: translate(5px,0px);
  font-style: normal;
  font-weight: 500;
}
.set-menu-text03 {
  font-size: 15px;
  transition: 0.3s;
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.set-menu-text03:hover {
  color: var(--dl-color-secondary-700);
  transform: translate(5px,0px);
  font-style: normal;
  font-weight: 500;
}
.set-menu-text04 {
  font-size: 15px;
  transition: 0.3s;
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.set-menu-text04:hover {
  color: var(--dl-color-secondary-700);
  transform: translate(5px,0px);
  font-style: normal;
  font-weight: 500;
}
.set-menu-text05 {
  font-size: 15px;
  transition: 0.3s;
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.set-menu-text05:hover {
  color: var(--dl-color-secondary-700);
  transform: translate(5px,0px);
  font-style: normal;
  font-weight: 500;
}
.set-menu-text06 {
  font-size: 15px;
  transition: 0.3s;
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.set-menu-text06:hover {
  color: var(--dl-color-secondary-700);
  transform: translate(5px,0px);
  font-style: normal;
  font-weight: 500;
}
.set-menu-text07 {
  font-size: 15px;
  transition: 0.3s;
  text-decoration: none;
}
.set-menu-text07:hover {
  color: var(--dl-color-secondary-700);
  transform: translate(5px,0px);
  font-style: normal;
  font-weight: 500;
}
.set-menu-text08 {
  font-size: 15px;
  transition: 0.3s;
  text-decoration: none;
}
.set-menu-text08:hover {
  color: var(--dl-color-secondary-700);
  transform: translate(5px,0px);
  font-style: normal;
  font-weight: 500;
}
.set-menu-text09 {
  font-size: 15px;
  margin-top: var(--dl-space-space-fiveunits);
  transition: 0.3s;
  text-decoration: none;
}
.set-menu-text09:hover {
  color: var(--dl-color-secondary-700);
  transform: translate(5px,0px);
  font-style: normal;
  font-weight: 500;
}
.set-menu-container1 {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.set-menu-image {
  width: 49px;
  height: 49px;
  object-fit: cover;
  transition: 0.3s;
  border-color: #ffffff;
  border-width: 2px;
  margin-right: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius40);
}
.set-menu-image:hover {
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  border-color: #ffffff;
  border-width: 2px;
}
.set-menu-image1 {
  width: 49px;
  height: 49px;
  object-fit: cover;
  transition: 0.3s;
  border-color: #ffffff;
  border-width: 2px;
  margin-right: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius40);
}
.set-menu-image1:hover {
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  border-color: #ffffff;
  border-width: 2px;
}
.set-menu-image2 {
  width: 49px;
  height: 49px;
  object-fit: cover;
  transition: 0.3s;
  border-color: #ffffff;
  border-width: 2px;
  margin-right: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius40);
}
.set-menu-image2:hover {
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  border-color: #ffffff;
  border-width: 2px;
}
.set-menu-image3 {
  width: 49px;
  height: 49px;
  object-fit: cover;
  transition: 0.3s;
  border-color: #ffffff;
  border-width: 2px;
  margin-right: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius40);
}
.set-menu-image3:hover {
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  border-color: #ffffff;
  border-width: 2px;
}
@media(max-width: 991px) {
  .set-menu-menu {
    align-self: flex-start;
    align-items: flex-start;
  }
  .set-menu-text {
    font-size: 16px;
    text-decoration: none;
  }
  .set-menu-text01 {
    font-size: 16px;
    text-decoration: none;
  }
  .set-menu-text02 {
    font-size: 16px;
    text-decoration: none;
  }
  .set-menu-text03 {
    font-size: 16px;
    margin-left: var(--dl-space-space-unit);
    text-decoration: none;
  }
  .set-menu-text04 {
    font-size: 16px;
    margin-left: var(--dl-space-space-unit);
    text-decoration: none;
  }
  .set-menu-text05 {
    font-size: 16px;
    margin-left: var(--dl-space-space-unit);
    text-decoration: none;
  }
  .set-menu-text06 {
    font-size: 16px;
    margin-left: var(--dl-space-space-unit);
    text-decoration: none;
  }
  .set-menu-text07 {
    font-size: 16px;
    text-decoration: none;
  }
  .set-menu-text08 {
    font-size: 16px;
    text-decoration: none;
  }
  .set-menu-text09 {
    font-size: 16px;
    text-decoration: none;
  }
}
@media(max-width: 767px) {
  .set-menu-text {
    font-size: 16px;
  }
  .set-menu-text01 {
    font-size: 16px;
  }
  .set-menu-text02 {
    font-size: 16px;
  }
  .set-menu-text03 {
    font-size: 16px;
  }
  .set-menu-text04 {
    font-size: 16px;
  }
  .set-menu-text05 {
    font-size: 16px;
  }
  .set-menu-text06 {
    font-size: 16px;
  }
  .set-menu-text07 {
    font-size: 16px;
  }
  .set-menu-text08 {
    font-size: 16px;
  }
  .set-menu-text09 {
    font-size: 16px;
  }
}
@media(max-width: 414px) {
  .set-menu-menu {
    width: 100%;
    height: 700px;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .set-menu-text {
    font-size: 16px;
  }
  .set-menu-text01 {
    font-size: 16px;
  }
  .set-menu-text02 {
    font-size: 16px;
  }
  .set-menu-text03 {
    font-size: 16px;
  }
  .set-menu-text04 {
    font-size: 16px;
  }
  .set-menu-text05 {
    font-size: 16px;
    text-decoration: none;
  }
  .set-menu-text06 {
    font-size: 16px;
  }
  .set-menu-text07 {
    font-size: 16px;
    text-decoration: none;
  }
  .set-menu-text08 {
    font-size: 16px;
  }
  .set-menu-text09 {
    font-size: 16px;
    margin-top: var(--dl-space-space-fiveunits);
    text-decoration: none;
  }
  .set-menu-container1 {
    margin-top: var(--dl-space-space-halfunit);
    flex-direction: row;
  }
  .set-menu-image {
    width: 49px;
    height: 49px;
    margin: var(--dl-space-space-halfunit);
    border-color: #ffffff;
    border-width: 2px;
    border-radius: var(--dl-radius-radius-radius40);
  }
  .set-menu-image1 {
    width: 49px;
    height: 49px;
    margin: var(--dl-space-space-halfunit);
    border-color: #ffffff;
    border-width: 2px;
    border-radius: var(--dl-radius-radius-radius40);
  }
  .set-menu-image2 {
    width: 49px;
    height: 49px;
    margin: var(--dl-space-space-halfunit);
    border-color: #ffffff;
    border-width: 2px;
    border-radius: var(--dl-radius-radius-radius40);
  }
  .set-menu-image3 {
    width: 49px;
    height: 49px;
    margin: var(--dl-space-space-halfunit);
    border-color: #ffffff;
    border-width: 2px;
    border-radius: var(--dl-radius-radius-radius40);
  }
}
