.submit-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.submit-container1 {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  border-radius: 40px;
  padding-right: var(--dl-space-space-twounits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: center;
  background-image: linear-gradient(180deg, rgb(66, 255, 46) 0.00%,rgb(0, 121, 19) 100.00%);
}
.submit-icon {
  fill: #ffffff;
  width: 24px;
  height: 24px;
}
.submit-text {
  color: #ffffff;
  font-size: 18px;
  font-style: normal;
  font-family: "Poppins";
  font-weight: 600;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.submit-navlink {
  display: contents;
}
.submit-text1 {
  color: #000000;
  margin-top: var(--dl-space-space-twounits);
  text-decoration: none;
}
@media(max-width: 479px) {
  .submit-container {
    align-items: center;
    justify-content: center;
  }
}
