.ad-whatsapp-container {
  right: 0px;
  width: auto;
  height: auto;
  display: flex;
  z-index: 100;
  position: fixed;
  align-items: flex-end;
  flex-direction: row;
  justify-content: flex-end;
}
.ad-whatsapp-grab {
  right: opx;
  width: 49px;
  height: 50px;
  display: flex;
  align-self: center;
  transition: 1s;
  align-items: center;
  border-radius: 0px;
  justify-content: flex-start;
  background-color: #03ad11;
  border-top-left-radius: var(--dl-radius-radius-radius40);
  border-bottom-left-radius: var(--dl-radius-radius-radius40);
}
.ad-whatsapp-grab:hover {
  width: 191px;
}
.ad-whatsapp-pasted-image {
  width: 40px;
  height: 40px;
  margin-left: 5px;
  margin-right: 5px;
}
.ad-whatsapp-container1 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: flex-start;
}
.ad-whatsapp-link {
  color: var(--dl-color-gray-white);
  width: 100%;
  cursor: pointer;
  height: auto;
  margin: 0px;
  overflow: hidden;
  font-size: 0.6rem;
  align-self: center;
  font-style: normal;
  transition: 0.3s;
  font-family: Poppins;
  font-weight: 500;
  line-height: 1.5;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit4);
  border-radius: var(--dl-radius-radius-radius5);
  padding-right: var(--dl-space-space-unit4);
  padding-bottom: var(--dl-space-space-halfunit);
  text-transform: none;
  text-decoration: none;
}
.ad-whatsapp-link:hover {
  background-color: rgba(70, 70, 70, 0.61);
}
.ad-whatsapp-root-class-name {
  margin-top: 450px;
}
.ad-whatsapp-root-class-name1 {
  margin-top: 400px;
}
.ad-whatsapp-root-class-name2 {
  margin-top: 400px;
}
.ad-whatsapp-root-class-name3 {
  margin-top: 400px;
}
.ad-whatsapp-root-class-name4 {
  margin-top: 400px;
}
.ad-whatsapp-root-class-name5 {
  margin-top: 400px;
}
.ad-whatsapp-root-class-name6 {
  margin-top: 400px;
}
@media(max-width: 1200px) {
  .ad-whatsapp-container1 {
    width: 100%;
    justify-content: space-between;
  }
  .ad-whatsapp-link {
    width: auto;
  }
}
@media(max-width: 414px) {
  .ad-whatsapp-pasted-image {
    width: 35px;
    height: auto;
    margin-left: 6px;
    margin-right: 6px;
  }
  .ad-whatsapp-container1 {
    width: auto;
  }
  .ad-whatsapp-link {
    width: auto;
  }
  .ad-whatsapp-root-class-name {
    margin-top: 340px;
  }
}
