<div>
  <link href="./ad-whatsapp.css" rel="stylesheet" />
  <div class="ad-whatsapp-container">
    <div class="ad-whatsapp-grab">
      <img
        alt="Whatsapp"
        src="https://2cdc80ace5.imgdist.com/public/users/Integrators/BeeProAgency/1011568_996439/editor_images/whatsapp.png"
        loading="lazy"
        class="ad-whatsapp-pasted-image"
      />
      <div class="ad-whatsapp-container1">
        <a
          href="https://api.whatsapp.com/send?phone=6283845781063&amp;text=Halo%20min%2C%20saya%20ingin%20konsultasi%20mengenai%20bisnis%20saya"
          class="ad-whatsapp-link"
        >
          <span>Chat Admin Infinitex</span>
        </a>
      </div>
    </div>
  </div>
</div>
