<div>
  <link href="./announcement.css" rel="stylesheet" />
  <div id="myDIV" class="announcement-announcement">
    <div class="announcement-un-hide">
      <div class="announcement-container">
        <span class="announcement-title">
          <span>Software Lisensi Original</span>
        </span>
        <div class="announcement-button">
          <span class="announcement-button-text">
            <span>Beli Sekarang</span>
          </span>
          <span class="announcement-button-text1"><span>-></span></span>
        </div>
      </div>
    </div>
  </div>
</div>
