<div>
  <link href="./chat-infinitex.css" rel="stylesheet" />
  <div class="chat-infinitex-container">
    <a
      href="https://api.whatsapp.com/send?phone=6281917304951&amp;text=Saya%20berminat%20melakukan%20pembelian%20app%20software"
      target="_blank"
      rel="noreferrer noopener"
      class="chat-infinitex-link"
    >
      <img
        alt="image"
        src="https://ik.imagekit.io/3ij6aly19/bankdata-bimaselalubenar/Icon/Frame%2095.png?updatedAt=1703493006388"
        loading="lazy"
        class="chat-infinitex-image"
      />
    </a>
  </div>
</div>
