.ct-acust-container {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  bottom: 0;
  height: auto;
  display: flex;
  z-index: 100;
  position: fixed;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: center;
  text-decoration: none;
  background-color: #178e00;
}
.ct-acust-icon {
  fill: #ffffff;
  width: 30px;
  height: auto;
}
.ct-acust-text {
  color: #ffffff;
  font-size: 20px;
  font-style: normal;
  font-family: "Inter";
  font-weight: 600;
}

