.ct-acust-container {
  width: 100%;
  bottom: 0;
  height: auto;
  display: flex;
  z-index: 100;
  position: fixed;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: center;
  background-color: #ffffff;
}
.ct-acust-link {
  display: contents;
}
.ct-acust-container1 {
  gap: var(--dl-space-space-halfunit);
  flex: 0 0 auto;
  width: 479px;
  cursor: pointer;
  height: auto;
  display: flex;
  align-self: center;
  transition: 0.3s;
  align-items: center;
  margin-left: 0px;
  padding-top: var(--dl-space-space-halfunit);
  border-color: #2bd200;
  border-width: 2px;
  margin-right: 0px;
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
  text-decoration: none;
  background-image: linear-gradient(135deg, rgb(7, 142, 2) 0.00%,rgb(11, 255, 40) 100.00%);
}
.ct-acust-container1:hover {
  scale: 105%;
  box-shadow: 5px 5px 10px 0px #b3b3b3;
}
.ct-acust-container2 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.ct-acust-text {
  color: #ffffff;
  font-size: 25px;
  font-style: normal;
  font-family: "Inter";
  font-weight: 600;
}
.ct-acust-icon {
  fill: #ffffff;
  width: 30px;
  height: auto;
}

