.ct-acust-container {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  bottom: 0;
  height: auto;
  display: flex;
  z-index: 100;
  position: fixed;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: center;
  text-decoration: none;
  background-color: #178e00;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.ct-acust-icon {
  fill: #ffffff;
  width: 30px;
  height: auto;
}
.ct-acust-text {
  color: #ffffff;
  font-size: 20px;
  font-style: normal;
  font-family: "Inter";
  font-weight: 600;
}
.ct-acust-root-class-name {
  align-self: center;
}
@media(max-width: 991px) {
  .ct-acust-root-class-name {
    align-self: center;
  }
}
@media(max-width: 767px) {
  .ct-acust-root-class-name {
    align-self: center;
  }
}
@media(max-width: 479px) {
  .ct-acust-root-class-name {
    align-self: center;
  }
}
