<div>
  <link href="./footer.css" rel="stylesheet" />
  <footer class="footer-footer">
    <div class="footer-top">
      <div class="footer-right">
        <div class="footer-category">
          <span class="footer-text"><span>Page Menu</span></span>
          <div class="footer-links">
            <a href="index.html" class="footer-navlink"><span>Home</span></a>
            <a href="about.html" class="footer-navlink1"><span>About</span></a>
          </div>
        </div>
        <div class="footer-category1">
          <span class="footer-text01"><span>Service</span></span>
          <div class="footer-links1">
            <a href="order-form.html" class="footer-navlink2">
              <span>Form order website</span>
            </a>
            <a href="web-development.html" class="footer-navlink3">
              <span>Web development service</span>
            </a>
            <a href="digital-service.html" class="footer-navlink4">
              <span>Digital service</span>
            </a>
            <a href="suma-wedding.html" class="footer-navlink5">
              <span>Wedding Organizer</span>
            </a>
          </div>
        </div>
        <div class="footer-category2">
          <span class="footer-text02"><span>Job</span></span>
          <div class="footer-links2">
            <a href="rekrutmen.html" class="footer-navlink6">
              <span>Freelance</span>
            </a>
          </div>
        </div>
        <div class="footer-category3">
          <span class="footer-text03"><span>Social Media</span></span>
          <div class="footer-links3">
            <a
              href="https://www.instagram.com/infinitex.my.id/"
              class="footer-link"
            >
              <span>Instagram</span>
            </a>
            <a
              href="https://www.threads.net/@infinitex.my.id"
              class="footer-link1"
            >
              <span>Threads</span>
            </a>
            <a
              href="https://www.tiktok.com/@infinitex.my.id"
              class="footer-link2"
            >
              <span>TikTok</span>
            </a>
          </div>
        </div>
        <div class="footer-category4">
          <span class="footer-text04"><span>Team</span></span>
          <div class="footer-links4">
            <span class="footer-text05">
              <span>
                Bima - Fullstack Development & Animation Graph 3D Modeling
              </span>
            </span>
            <span class="footer-text06">
              <span>Hamzah - Back End Development Generating Logic</span>
            </span>
            <span class="footer-text07">
              <span>Suma - Cinematograph & Content Creator</span>
            </span>
            <span class="footer-text08">
              <span>Reny - Freelance Grapic & Motion Graphic Designer</span>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <a href="index.html" class="footer-navlink7">
        <img
          alt="pastedImage"
          src="https://2cdc80ace5.imgdist.com/public/users/Integrators/BeeProAgency/1011568_996439/editor_images/Group%2021.png"
          loading="lazy"
          class="footer-branding"
        />
      </a>
      <span class="footer-text09">
        <span>Copyright © Infinitex - 2023</span>
      </span>
    </div>
  </footer>
</div>
