.link-menus-links-container {
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.link-menus-container {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-right: 0px;
  flex-direction: row;
  justify-content: center;
}
.link-menus-product-container {
  flex: 1;
  display: flex;
  padding: var(--dl-space-space-unit);
  box-shadow: 5px 5px 10px 0px rgba(124, 124, 124, 0.08);
  align-items: flex-start;
  margin-right: 0rem;
  border-radius: 20px;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #ffffff;
}
.link-menus-text {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.link-menus-navlink {
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.link-menus-navlink:hover {
  color: #929292;
}
.link-menus-navlink1 {
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.link-menus-navlink1:hover {
  color: #929292;
}
.link-menus-company-container {
  flex: 1;
  display: flex;
  padding: var(--dl-space-space-unit);
  box-shadow: 5px 5px 10px 0px rgba(124, 124, 124, 0.08);
  align-items: flex-start;
  border-radius: 20px;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #ffffff;
}
.link-menus-text1 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.link-menus-text2 {
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-unit);
}
.link-menus-text2:hover {
  color: #929292;
}
.link-menus-text3 {
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-unit);
}
.link-menus-text3:hover {
  color: #929292;
}
.link-menus-text4 {
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-unit);
}
.link-menus-text4:hover {
  color: #929292;
}
.link-menus-text5 {
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-unit);
}
.link-menus-text5:hover {
  color: #929292;
}
.link-menus-contact {
  flex: 1;
  display: flex;
  padding: var(--dl-space-space-unit);
  box-shadow: 5px 5px 10px 0px rgba(124, 124, 124, 0.08);
  align-items: flex-start;
  border-radius: 20px;
  margin-bottom: 0px;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #ffffff;
}
.link-menus-text6 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.link-menus-text7 {
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-unit);
}
.link-menus-text7:hover {
  color: #929292;
}
.link-menus-container1 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.link-menus-icon {
  width: 18px;
  height: 18px;
}

@media(max-width: 767px) {
  .link-menus-links-container {
    width: 100%;
    align-items: flex-start;
    flex-direction: row;
    justify-content: center;
  }
}
@media(max-width: 479px) {
  .link-menus-links-container {
    align-items: flex-start;
    margin-left: 0px;
    margin-right: 0px;
    flex-direction: column;
  }
  .link-menus-container {
    gap: var(--dl-space-space-unit);
    padding: var(--dl-space-space-unit);
    flex-wrap: wrap;
  }
  .link-menus-product-container {
    padding: var(--dl-space-space-unit);
    box-shadow: 5px 5px 10px 0px rgba(185, 185, 185, 0.49);
    margin-right: 0px;
    border-radius: 20px;
    margin-bottom: 0px;
    background-color: #ffffff;
  }
  .link-menus-company-container {
    padding: var(--dl-space-space-unit);
    box-shadow: 5px 5px 10px 0px rgba(185, 185, 185, 0.49);
    margin-right: 0px;
    border-radius: 20px;
    margin-bottom: 0px;
    background-color: #ffffff;
  }
  .link-menus-contact {
    padding: var(--dl-space-space-unit);
    box-shadow: 5px 5px 10px 0px rgba(185, 185, 185, 0.49);
    align-items: flex-start;
    margin-right: 0px;
    border-radius: 20px;
    margin-bottom: 0px;
    background-color: #ffffff;
  }
}

.footer-footer {
  width: 100%;
  display: flex;
  position: relative;
  max-width: auto;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.footer-container {
  width: 100%;
  display: flex;
  max-width: 1000px;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.footer-logo {
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  flex-direction: column;
}
.footer-image {
  width: 69px;
  height: 69px;
}
.footer-text {
  margin-top: var(--dl-space-space-oneandhalfunits);
}
.footer-separator {
  width: 100%;
  height: 1px;
  margin-top: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-twounits);
  background-color: var(--dl-color-gray-900);
}
.footer-text3 {
  align-self: center;
}

@media(max-width: 991px) {
  .footer-footer {
    flex-direction: column;
  }
}
@media(max-width: 767px) {
  .footer-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .footer-container {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .footer-logo {
    align-items: center;
  }
  .footer-image {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .footer-text {
    margin-top: var(--dl-space-space-twounits);
    text-align: center;
    margin-bottom: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .footer-footer {
    padding: var(--dl-space-space-unit);
  }
  .footer-container {
    align-items: center;
    flex-direction: column;
  }
  .footer-image {
    margin-bottom: 0px;
  }
  .footer-text {
    margin-top: var(--dl-space-space-twounits);
    margin-bottom: var(--dl-space-space-twounits);
  }
  .footer-text3 {
    text-align: center;
  }
}
