<div>
  <link href="./form-pay-digital-service.css" rel="stylesheet" />
  <div class="form-pay-digital-service-form">
    <span class="form-pay-digital-service-text">
      <span>Ads</span>
      <br class="Diskripsi3" />
    </span>
    <div class="form-pay-digital-service-base-form">
      <div class="form-pay-digital-service-container">
        <span class="form-pay-digital-service-text03">
          <span>Tingkatkan Value Social Media Anda</span>
          <br />
        </span>
        <span class="form-pay-digital-service-text06 Diskripsi3">
          <span>Isi formulir berikut</span>
        </span>
        <img
          alt="image"
          src="https://2cdc80ace5.imgdist.com/public/users/Integrators/BeeProAgency/1011568_996439/editor_images/3dicons-1.svg"
          loading="lazy"
          class="form-pay-digital-service-image"
        />
      </div>
      <form
        name="formulir-digital-service"
        action="pemesanan-sukses"
        method="POST"
        autocomplete="off"
        data-netlify="true"
        class="form-pay-digital-service-form1"
      >
        <label for="contact" class="form-pay-digital-service-text07 Diskripsi3">
          <span>Masukan nama anda*</span>
        </label>
        <input
          type="text"
          name="name"
          required
          placeholder="Nama"
          class="form-pay-digital-service-textinput Diskripsi3"
        />
        <label for="contact" class="form-pay-digital-service-text08 Diskripsi3">
          <span>Masukan nomor Whatsapp anda*</span>
        </label>
        <input
          type="number"
          name="No Whatsapp"
          required
          placeholder="No. Whatsapp"
          class="form-pay-digital-service-textinput1 Diskripsi3"
        />
        <label for="contact" class="form-pay-digital-service-text09 Diskripsi3">
          <span>Masukan Email anda*</span>
        </label>
        <input
          type="email"
          name="email"
          required
          placeholder="Email"
          autocomplete="email"
          class="form-pay-digital-service-textinput2 Diskripsi3"
        />
        <label for="contact" class="form-pay-digital-service-text10 Diskripsi3">
          <span>Pilih opsi*</span>
        </label>
        <div class="form-pay-digital-service-container1 Diskripsi3">
          <div class="form-pay-digital-service-container2">
            <label
              for="contact"
              class="form-pay-digital-service-text11 Diskripsi3"
            >
              <span>Pilih kode produk*</span>
            </label>
            <select
              name="Pilihan-paket"
              required
              class="form-pay-digital-service-select"
            >
              <option value="IG0001" selected>IG0001</option>
              <option value="IG0002">IG0002</option>
              <option value="IG0003">IG0003</option>
              <option value="IG0004">IG0004</option>
              <option value="IGL0001">IGL0001</option>
              <option value="IGL0002">IGL0002</option>
              <option value="IGL0003">IGL0003</option>
              <option value="IGL0004">IGL0004</option>
              <option value="IGV0001">IGV0001</option>
              <option value="IGV0002">IGV0002</option>
            </select>
          </div>
          <div class="form-pay-digital-service-container3">
            <label
              for="contact"
              class="form-pay-digital-service-text12 Diskripsi3"
            >
              <span>Pilih platform*</span>
            </label>
            <select
              name="Jumlah-pesanan"
              required
              class="form-pay-digital-service-select1"
            >
              <option value="Instagram" selected>Instagram</option>
              <option value="Tiktok (Segera hadir)">
                Tiktok (Segera hadir)
              </option>
            </select>
          </div>
          <div class="form-pay-digital-service-container4">
            <label
              for="contact"
              class="form-pay-digital-service-text13 Diskripsi3"
            >
              <span>Nilai (Jumlah Follow, View atau Like)*</span>
            </label>
            <select
              name="Jumlah-pesanan"
              required
              class="form-pay-digital-service-select2"
            >
              <option value="1000" selected>1000</option>
              <option value="500">500</option>
              <option value="Custom">Custom</option>
            </select>
          </div>
          <div class="form-pay-digital-service-container5">
            <label
              for="contact"
              class="form-pay-digital-service-text14 Diskripsi3"
            >
              <span>
                Masukan nama, link profile, link postingan yang ingin di tuju*
              </span>
            </label>
            <input
              type="Link-socmed"
              name="link-profile"
              required
              placeholder="nama socmed (@)/ link profile / link postingan"
              autocomplete="email"
              class="form-pay-digital-service-textinput3 Diskripsi3"
            />
          </div>
        </div>
        <div class="form-pay-digital-service-container6">
          <input type="checkbox" required />
          <span class="form-pay-digital-service-text15 Deskripsi4">
            <span>
              Menyetujui data apa saja yang di masukan itu benar, data anda aman
              dan tidak di salah gunakan dan kami segera menghubungi anda
            </span>
          </span>
        </div>
        <button
          name="done"
          type="submit"
          class="form-pay-digital-service-button"
        >
          <span>Kirim</span>
        </button>
      </form>
    </div>
  </div>
</div>
