.form-pay-digital-service-form {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  position: relative;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.form-pay-digital-service-text {
  color: #ffffff;
  width: auto;
  display: none;
  font-style: normal;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
  font-family: Poppins;
  margin-left: var(--dl-space-space-halfunit);
  padding-top: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius5);
  margin-bottom: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
  background-image: linear-gradient(225deg, rgb(254, 172, 94) 0.00%,rgb(199, 121, 208) 50.00%,rgb(75, 192, 200) 100.00%);
}
.form-pay-digital-service-base-form {
  width: 1521px;
  height: auto;
  display: flex;
  max-width: auto;
  align-self: center;
  margin-top: 35px;
  transition: 0.3s;
  align-items: center;
  padding-top: 31px;
  padding-left: 31px;
  border-radius: var(--dl-radius-radius-radius40);
  margin-bottom: 35px;
  padding-right: 31px;
  flex-direction: row;
  padding-bottom: 31px;
  justify-content: space-between;
}
.form-pay-digital-service-base-form:hover {
  box-shadow: 5px 5px 10px 0px #d4d4d4;
}
.form-pay-digital-service-container {
  width: 470px;
  height: auto;
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.form-pay-digital-service-text03 {
  color: var(--dl-color-gray-500);
  margin: var(--dl-space-space-unit3);
  font-size: 2.25rem;
  font-style: normal;
  font-family: Poppins;
  font-weight: 700;
  line-height: 1.3;
  text-transform: none;
  text-decoration: none;
}
.form-pay-digital-service-text06 {
  color: var(--dl-color-gray-500);
  margin-top: 0px;
  margin-left: var(--dl-space-space-unit3);
  margin-right: var(--dl-space-space-unit3);
  margin-bottom: var(--dl-space-space-unit3);
}
.form-pay-digital-service-image {
  width: 468px;
  height: 468px;
  object-fit: cover;
}
.form-pay-digital-service-form1 {
  width: 50%;
  height: auto;
  display: flex;
  align-self: center;
  align-items: flex-start;
  margin-left: 50px;
  margin-right: 50px;
  flex-direction: column;
  justify-content: flex-start;
}
.form-pay-digital-service-text07 {
  color: #313135;
  align-self: flex-start;
  font-style: normal;
  margin-left: var(--dl-space-space-halfunit);
}
.form-pay-digital-service-textinput {
  width: 100%;
  padding: var(--dl-space-space-unit3);
  font-style: normal;
  margin-top: var(--dl-space-space-halfunit);
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 28px;
  border-radius: var(--dl-radius-radius-radius40);
  margin-bottom: var(--dl-space-space-halfunit);
  background-color: #efe8e8;
}
.form-pay-digital-service-text08 {
  color: #313135;
  align-self: flex-start;
  font-style: normal;
  margin-left: var(--dl-space-space-halfunit);
}
.form-pay-digital-service-textinput1 {
  width: 100%;
  padding: var(--dl-space-space-unit3);
  font-style: normal;
  margin-top: var(--dl-space-space-halfunit);
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 28px;
  border-radius: var(--dl-radius-radius-radius40);
  margin-bottom: var(--dl-space-space-halfunit);
  background-color: #efe8e8;
}
.form-pay-digital-service-text09 {
  color: #313135;
  align-self: flex-start;
  font-style: normal;
  margin-left: var(--dl-space-space-halfunit);
}
.form-pay-digital-service-textinput2 {
  width: 100%;
  font-style: normal;
  margin-top: var(--dl-space-space-halfunit);
  margin-left: 0px;
  padding-top: var(--dl-space-space-unit3);
  margin-right: 0px;
  padding-left: 28px;
  border-radius: var(--dl-radius-radius-radius40);
  margin-bottom: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-unit3);
  padding-bottom: var(--dl-space-space-unit3);
  background-color: #efe8e8;
}
.form-pay-digital-service-text10 {
  color: #313135;
  align-self: flex-start;
  font-style: normal;
  margin-left: var(--dl-space-space-halfunit);
}
.form-pay-digital-service-container1 {
  width: 100%;
  font-style: normal;
  margin-top: var(--dl-space-space-halfunit);
  margin-left: 0px;
  padding-top: var(--dl-space-space-unit3);
  margin-right: 0px;
  padding-left: 28px;
  border-radius: 20px;
  margin-bottom: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-unit3);
  padding-bottom: var(--dl-space-space-unit3);
  background-color: #efe8e8;
}
.form-pay-digital-service-container2 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.form-pay-digital-service-text11 {
  color: rgb(49, 49, 53);
  align-self: flex-start;
  font-style: normal;
  margin-left: 0px;
  margin-right: 0px;
}
.form-pay-digital-service-select {
  width: 100%;
  margin-top: var(--dl-space-space-halfunit);
  padding-left: 4px;
  border-radius: var(--dl-radius-radius-radius75);
  padding-right: 4px;
}
.form-pay-digital-service-container3 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.form-pay-digital-service-text12 {
  color: rgb(49, 49, 53);
  align-self: flex-start;
  font-style: normal;
  margin-left: 0px;
  margin-right: 0px;
}
.form-pay-digital-service-select1 {
  width: 100%;
  margin-top: var(--dl-space-space-halfunit);
  padding-left: 4px;
  border-radius: var(--dl-radius-radius-radius75);
  padding-right: 4px;
}
.form-pay-digital-service-container4 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.form-pay-digital-service-text13 {
  color: rgb(49, 49, 53);
  align-self: flex-start;
  font-style: normal;
  margin-left: 0px;
  margin-right: 0px;
}
.form-pay-digital-service-select2 {
  width: 100%;
  height: var(--dl-size-size-xsmall);
  margin-top: var(--dl-space-space-halfunit);
  padding-left: 4px;
  border-radius: var(--dl-radius-radius-radius75);
  padding-right: 4px;
}
.form-pay-digital-service-container5 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.form-pay-digital-service-text14 {
  color: rgb(49, 49, 53);
  align-self: flex-start;
  font-style: normal;
  margin-left: 0px;
  margin-right: 0px;
}
.form-pay-digital-service-textinput3 {
  width: 100%;
  font-style: normal;
  margin-top: var(--dl-space-space-halfunit);
  margin-left: 0px;
  padding-top: var(--dl-space-space-unit3);
  margin-right: 0px;
  padding-left: 28px;
  border-radius: var(--dl-radius-radius-radius40);
  margin-bottom: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-unit3);
  padding-bottom: var(--dl-space-space-unit3);
  background-color: #ffffff;
}
.form-pay-digital-service-container6 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  margin-top: var(--dl-space-space-unit3);
  align-items: flex-start;
  justify-content: flex-start;
}
.form-pay-digital-service-text15 {
  margin-left: var(--dl-space-space-halfunit);
}
.form-pay-digital-service-button {
  color: #ffffff;
  width: 209px;
  font-size: 1rem;
  font-style: normal;
  margin-top: var(--dl-space-space-halfunit);
  transition: 2s;
  font-family: Poppins;
  font-weight: 600;
  line-height: 1.5;
  margin-left: 0px;
  padding-top: var(--dl-space-space-unit3);
  margin-right: 0px;
  padding-left: 28px;
  border-radius: var(--dl-radius-radius-radius40);
  margin-bottom: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-unit3);
  padding-bottom: var(--dl-space-space-unit3);
  text-transform: none;
  text-decoration: none;
  background-image: linear-gradient(90deg, rgb(0, 56, 255) 0.00%,rgb(73, 164, 255) 100.00%);
}
.form-pay-digital-service-button:hover {
  width: 100%;
  cursor: pointer;
  align-self: flex-start;
  box-shadow: 5px 5px 10px 0px rgba(212, 212, 212, 0.61);
  border-color: #ffffff;
  border-width: 2px;
  background-color: transparent;
  background-image: linear-gradient(135deg, rgb(0, 56, 255) 55.00%,rgb(73, 164, 255) 80.00%);
}

@media(max-width: 1600px) {
  .form-pay-digital-service-base-form {
    height: auto;
  }
}
@media(max-width: 1200px) {
  .form-pay-digital-service-base-form {
    width: 1133px;
    margin-top: 0px;
    padding-top: 31px;
    padding-bottom: 31px;
  }
}
@media(max-width: 991px) {
  .form-pay-digital-service-form {
    margin-top: 0px;
    align-items: center;
    justify-content: flex-start;
  }
  .form-pay-digital-service-base-form {
    width: 928px;
    height: auto;
    margin-top: 35px;
    padding-top: 30px;
    flex-direction: column;
    padding-bottom: 30px;
  }
  .form-pay-digital-service-container {
    width: 50%;
  }
  .form-pay-digital-service-text06 {
    color: var(--dl-color-secondary-700);
    margin-left: 0px;
  }
  .form-pay-digital-service-text07 {
    text-transform: capitalize;
  }
  .form-pay-digital-service-text08 {
    text-transform: capitalize;
  }
  .form-pay-digital-service-text09 {
    text-transform: capitalize;
  }
  .form-pay-digital-service-text10 {
    text-transform: capitalize;
  }
  .form-pay-digital-service-text11 {
    text-transform: capitalize;
  }
  .form-pay-digital-service-select {
    height: 39px;
    padding-left: 4px;
    border-radius: var(--dl-radius-radius-radius75);
    padding-right: 4px;
  }
  .form-pay-digital-service-text12 {
    text-transform: capitalize;
  }
  .form-pay-digital-service-select1 {
    height: 39px;
    padding-left: 4px;
    border-radius: var(--dl-radius-radius-radius75);
    padding-right: 4px;
  }
  .form-pay-digital-service-text13 {
    text-transform: capitalize;
  }
  .form-pay-digital-service-select2 {
    height: 39px;
    padding-left: 4px;
    border-radius: var(--dl-radius-radius-radius75);
    padding-right: 4px;
  }
  .form-pay-digital-service-text14 {
    text-transform: capitalize;
  }
}
@media(max-width: 767px) {
  .form-pay-digital-service-form {
    width: 100%;
    height: auto;
    margin: 0px;
    margin-top: 0px;
    align-items: center;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    justify-content: flex-start;
  }
  .form-pay-digital-service-base-form {
    width: 698px;
    margin-top: 0px;
    padding-top: 40px;
    margin-bottom: 0px;
    flex-direction: column;
    padding-bottom: 0px;
  }
  .form-pay-digital-service-container {
    width: 100%;
    align-self: flex-start;
  }
  .form-pay-digital-service-image {
    align-self: flex-end;
  }
  .form-pay-digital-service-form1 {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
  }
}
@media(max-width: 414px) {
  .form-pay-digital-service-form {
    width: 100%;
    height: auto;
    position: relative;
    align-self: center;
    margin-top: 0px;
    align-items: center;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    flex-direction: column;
    justify-content: center;
  }
  .form-pay-digital-service-base-form {
    width: 100%;
  }
  .form-pay-digital-service-container {
    width: 100%;
    height: auto;
  }
  .form-pay-digital-service-text06 {
    margin-top: var(--dl-space-space-unit3);
    margin-left: var(--dl-space-space-unit);
  }
  .form-pay-digital-service-image {
    width: 396px;
    height: 410px;
    align-self: flex-end;
  }
  .form-pay-digital-service-form1 {
    width: 100%;
    height: auto;
    margin-top: 40px;
  }
  .form-pay-digital-service-textinput {
    align-self: center;
    margin-left: var(--dl-space-space-halfunit);
    padding-top: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .form-pay-digital-service-textinput1 {
    align-self: center;
    margin-left: var(--dl-space-space-halfunit);
    padding-top: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .form-pay-digital-service-textinput2 {
    padding: var(--dl-space-space-halfunit);
    align-self: center;
    margin-left: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-halfunit);
  }
  .form-pay-digital-service-container1 {
    align-self: center;
    margin-top: var(--dl-space-space-halfunit);
    margin-left: var(--dl-space-space-halfunit);
    padding-top: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-halfunit);
    margin-bottom: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-unit);
  }
  .form-pay-digital-service-container2 {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .form-pay-digital-service-text11 {
    align-self: flex-start;
  }
  .form-pay-digital-service-select {
    width: 100%;
  }
  .form-pay-digital-service-container3 {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .form-pay-digital-service-text12 {
    align-self: flex-start;
  }
  .form-pay-digital-service-select1 {
    width: 100%;
  }
  .form-pay-digital-service-container4 {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .form-pay-digital-service-text13 {
    align-self: flex-start;
  }
  .form-pay-digital-service-select2 {
    width: 100%;
  }
  .form-pay-digital-service-container5 {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .form-pay-digital-service-text14 {
    align-self: flex-start;
  }
  .form-pay-digital-service-textinput3 {
    padding: var(--dl-space-space-halfunit);
    align-self: center;
    margin-left: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-halfunit);
  }
  .form-pay-digital-service-button {
    padding: var(--dl-space-space-halfunit);
    align-self: center;
    margin-left: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-halfunit);
  }
}
