.form-form {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  position: relative;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.form-text {
  color: #ffffff;
  width: auto;
  font-style: normal;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
  font-family: Poppins;
  margin-left: var(--dl-space-space-halfunit);
  padding-top: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius5);
  margin-bottom: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
  background-image: linear-gradient(225deg, rgb(254, 172, 94) 0.00%,rgb(199, 121, 208) 50.00%,rgb(75, 192, 200) 100.00%);
}
.form-text03 {
  font-size: 2.25rem;
  font-style: normal;
  margin-top: var(--dl-space-space-threeunits);
  text-align: center;
  font-family: Poppins;
  font-weight: 700;
  line-height: 1.625;
  margin-left: var(--dl-space-space-unit3);
  margin-right: var(--dl-space-space-unit3);
  margin-bottom: var(--dl-space-space-unit3);
}
.form-base-form {
  width: 1521px;
  height: auto;
  display: flex;
  max-width: auto;
  align-self: center;
  margin-top: 35px;
  transition: 0.3s;
  align-items: center;
  padding-top: 31px;
  border-color: #8c9098;
  border-style: dotted;
  border-width: 2px;
  padding-left: 31px;
  border-radius: var(--dl-radius-radius-radius40);
  margin-bottom: 35px;
  padding-right: 31px;
  flex-direction: row;
  padding-bottom: 31px;
  justify-content: space-between;
}
.form-base-form:hover {
  box-shadow: 5px 5px 10px 0px #d4d4d4;
}
.form-container {
  width: 470px;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.form-text06 {
  margin: var(--dl-space-space-unit3);
  font-size: 1.25rem;
  font-style: normal;
  font-family: Poppins;
  font-weight: 500;
  line-height: 1.625;
  text-transform: none;
  text-decoration: none;
}
.form-text12 {
  margin-top: 0px;
  margin-left: var(--dl-space-space-unit3);
  margin-right: var(--dl-space-space-unit3);
  margin-bottom: var(--dl-space-space-unit3);
}
.form-navlink {
  color: #ffffff;
  width: 209px;
  font-size: 1rem;
  font-style: normal;
  margin-top: 0px;
  transition: 2s;
  font-family: Poppins;
  font-weight: 600;
  line-height: 1.5;
  margin-left: var(--dl-space-space-unit3);
  padding-top: var(--dl-space-space-unit3);
  margin-right: var(--dl-space-space-unit3);
  padding-left: 28px;
  border-radius: var(--dl-radius-radius-radius40);
  margin-bottom: var(--dl-space-space-unit3);
  padding-right: var(--dl-space-space-unit3);
  padding-bottom: var(--dl-space-space-unit3);
  text-transform: none;
  text-decoration: none;
  background-image: linear-gradient(90deg, rgb(0, 56, 255) 0.00%,rgb(73, 164, 255) 100.00%);
}
.form-navlink:hover {
  width: 100%;
  cursor: pointer;
  box-shadow: 5px 5px 10px 0px rgba(212, 212, 212, 0.61);
  transition: 2s;
  border-color: #ffffff;
  border-width: 2px;
  background-image: linear-gradient(135deg, rgb(0, 56, 255) 55.00%,rgb(73, 164, 255) 80.00%);
}
.form-form1 {
  width: 50%;
  height: auto;
  display: flex;
  align-self: center;
  align-items: flex-start;
  margin-left: 50px;
  margin-right: 50px;
  flex-direction: column;
  justify-content: flex-start;
}
.form-text13 {
  color: #313135;
  align-self: flex-start;
  font-style: normal;
  margin-left: var(--dl-space-space-halfunit);
}
.form-textinput {
  width: 100%;
  padding: var(--dl-space-space-unit3);
  font-style: normal;
  margin-top: var(--dl-space-space-halfunit);
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 28px;
  border-radius: var(--dl-radius-radius-radius40);
  margin-bottom: var(--dl-space-space-halfunit);
  background-color: #efe8e8;
}
.form-text14 {
  color: #313135;
  align-self: flex-start;
  font-style: normal;
  margin-left: var(--dl-space-space-halfunit);
}
.form-textinput1 {
  width: 100%;
  padding: var(--dl-space-space-unit3);
  font-style: normal;
  margin-top: var(--dl-space-space-halfunit);
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 28px;
  border-radius: var(--dl-radius-radius-radius40);
  margin-bottom: var(--dl-space-space-halfunit);
  background-color: #efe8e8;
}
.form-text15 {
  color: #313135;
  align-self: flex-start;
  font-style: normal;
  margin-left: var(--dl-space-space-halfunit);
}
.form-textinput2 {
  width: 100%;
  font-style: normal;
  margin-top: var(--dl-space-space-halfunit);
  margin-left: 0px;
  padding-top: var(--dl-space-space-unit3);
  margin-right: 0px;
  padding-left: 28px;
  border-radius: var(--dl-radius-radius-radius40);
  margin-bottom: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-unit3);
  padding-bottom: var(--dl-space-space-unit3);
  background-color: #efe8e8;
}
.form-text16 {
  color: #313135;
  align-self: flex-start;
  font-style: normal;
  margin-left: var(--dl-space-space-halfunit);
}
.form-textinput3 {
  width: 100%;
  font-style: normal;
  margin-top: var(--dl-space-space-halfunit);
  margin-left: 0px;
  padding-top: var(--dl-space-space-unit3);
  margin-right: 0px;
  padding-left: 28px;
  border-radius: var(--dl-radius-radius-radius40);
  margin-bottom: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-unit3);
  padding-bottom: var(--dl-space-space-unit3);
  background-color: #efe8e8;
}
.form-text17 {
  color: #313135;
  align-self: flex-start;
  font-style: normal;
  margin-left: var(--dl-space-space-halfunit);
}
.form-container1 {
  width: 100%;
  font-style: normal;
  margin-top: var(--dl-space-space-halfunit);
  margin-left: 0px;
  padding-top: var(--dl-space-space-unit3);
  margin-right: 0px;
  padding-left: 28px;
  border-radius: 20px;
  margin-bottom: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-unit3);
  padding-bottom: var(--dl-space-space-unit3);
  background-color: #efe8e8;
}
.form-container2 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.form-text18 {
  color: rgb(49, 49, 53);
  align-self: flex-start;
  font-style: normal;
  margin-left: 0px;
  margin-right: 0px;
}
.form-select {
  width: 100%;
  margin-top: var(--dl-space-space-halfunit);
  padding-left: 4px;
  border-radius: var(--dl-radius-radius-radius75);
  padding-right: 4px;
}
.form-container3 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.form-text19 {
  color: rgb(49, 49, 53);
  align-self: flex-start;
  font-style: normal;
  margin-left: 0px;
  margin-right: 0px;
}
.form-select1 {
  width: 100%;
  margin-top: var(--dl-space-space-halfunit);
  padding-left: 4px;
  border-radius: var(--dl-radius-radius-radius75);
  padding-right: 4px;
}
.form-container4 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.form-text20 {
  color: rgb(49, 49, 53);
  align-self: flex-start;
  font-style: normal;
  margin-left: 0px;
  margin-right: 0px;
}
.form-select2 {
  width: 100%;
  margin-top: var(--dl-space-space-halfunit);
  padding-left: 4px;
  border-radius: var(--dl-radius-radius-radius75);
  padding-right: 4px;
}
.form-container5 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  margin-top: var(--dl-space-space-unit3);
  align-items: flex-start;
  justify-content: flex-start;
}
.form-text21 {
  margin-left: var(--dl-space-space-halfunit);
}
.form-button {
  color: #ffffff;
  width: 209px;
  font-size: 1rem;
  font-style: normal;
  margin-top: var(--dl-space-space-halfunit);
  transition: 2s;
  font-family: Poppins;
  font-weight: 600;
  line-height: 1.5;
  margin-left: 0px;
  padding-top: var(--dl-space-space-unit3);
  margin-right: 0px;
  padding-left: 28px;
  border-radius: var(--dl-radius-radius-radius40);
  margin-bottom: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-unit3);
  padding-bottom: var(--dl-space-space-unit3);
  text-transform: none;
  text-decoration: none;
  background-image: linear-gradient(90deg, rgb(0, 56, 255) 0.00%,rgb(73, 164, 255) 100.00%);
}
.form-button:hover {
  width: 100%;
  cursor: pointer;
  align-self: flex-start;
  box-shadow: 5px 5px 10px 0px rgba(212, 212, 212, 0.61);
  border-color: #ffffff;
  border-width: 2px;
  background-color: transparent;
  background-image: linear-gradient(135deg, rgb(0, 56, 255) 55.00%,rgb(73, 164, 255) 80.00%);
}










@media(max-width: 1600px) {
  .form-base-form {
    height: auto;
  }
  .form-navlink {
    margin-left: var(--dl-space-space-unit);
  }
}
@media(max-width: 1200px) {
  .form-base-form {
    width: 1133px;
    margin-top: 0px;
    padding-top: 31px;
    padding-bottom: 31px;
  }
  .form-navlink {
    margin-left: var(--dl-space-space-unit);
  }
}
@media(max-width: 991px) {
  .form-form {
    margin-top: 0px;
    align-items: center;
    justify-content: flex-start;
  }
  .form-text03 {
    display: none;
  }
  .form-base-form {
    width: 928px;
    height: auto;
    margin-top: 35px;
    padding-top: 30px;
    flex-direction: column;
    padding-bottom: 30px;
  }
  .form-container {
    width: 50%;
  }
  .form-text06 {
    margin-left: 0px;
  }
  .form-text12 {
    color: var(--dl-color-secondary-700);
    margin-left: 0px;
  }
  .form-text13 {
    text-transform: capitalize;
  }
  .form-text14 {
    text-transform: capitalize;
  }
  .form-text15 {
    text-transform: capitalize;
  }
  .form-text16 {
    text-transform: capitalize;
  }
  .form-text17 {
    text-transform: capitalize;
  }
  .form-text18 {
    text-transform: capitalize;
  }
  .form-select {
    height: 39px;
    padding-left: 4px;
    border-radius: var(--dl-radius-radius-radius75);
    padding-right: 4px;
  }
  .form-text19 {
    text-transform: capitalize;
  }
  .form-select1 {
    height: 39px;
    padding-left: 4px;
    border-radius: var(--dl-radius-radius-radius75);
    padding-right: 4px;
  }
  .form-text20 {
    text-transform: capitalize;
  }
  .form-select2 {
    height: 39px;
    padding-left: 4px;
    border-radius: var(--dl-radius-radius-radius75);
    padding-right: 4px;
  }
}
@media(max-width: 767px) {
  .form-form {
    width: 100%;
    height: auto;
    margin: 0px;
    margin-top: 0px;
    align-items: center;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    justify-content: flex-start;
  }
  .form-text03 {
    display: none;
  }
  .form-base-form {
    width: 698px;
    margin-top: 0px;
    padding-top: 40px;
    margin-bottom: 0px;
    flex-direction: column;
    padding-bottom: 0px;
  }
  .form-container {
    align-self: flex-start;
  }
  .form-navlink {
    margin-left: 0px;
  }
  .form-form1 {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
  }
}
@media(max-width: 414px) {
  .form-form {
    width: 100%;
    height: auto;
    position: relative;
    align-self: center;
    margin-top: 0px;
    align-items: center;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    flex-direction: column;
    justify-content: center;
  }
  .form-text03 {
    display: none;
    font-size: 2.25rem;
    font-style: normal;
    font-family: Poppins;
    font-weight: 700;
    line-height: 1.3;
    text-transform: none;
    text-decoration: none;
  }
  .form-base-form {
    width: 100%;
    height: auto;
    padding: var(--dl-space-space-halfunit);
    max-width: auto;
    align-self: center;
    margin-top: 0px;
    align-items: center;
    margin-left: 0px;
    padding-top: 13px;
    border-color: #b0b6bc;
    border-style: dashed;
    border-width: 1px2;
    margin-right: 0px;
    padding-left: var(--dl-space-space-halfunit);
    border-radius: 30px;
    margin-bottom: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
    justify-content: center;
  }
  .form-container {
    width: 100%;
    height: auto;
  }
  .form-navlink {
    padding: var(--dl-space-space-halfunit);
    align-self: flex-start;
    margin-left: 0px;
    margin-right: var(--dl-space-space-halfunit);
  }
  .form-form1 {
    width: 100%;
    height: auto;
    margin-top: 40px;
  }
  .form-textinput {
    align-self: center;
    margin-left: var(--dl-space-space-halfunit);
    padding-top: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .form-textinput1 {
    align-self: center;
    margin-left: var(--dl-space-space-halfunit);
    padding-top: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .form-textinput2 {
    padding: var(--dl-space-space-halfunit);
    align-self: center;
    margin-left: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-halfunit);
  }
  .form-textinput3 {
    padding: var(--dl-space-space-halfunit);
    align-self: center;
    margin-left: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-halfunit);
  }
  .form-container1 {
    align-self: center;
    margin-top: var(--dl-space-space-halfunit);
    margin-left: var(--dl-space-space-halfunit);
    padding-top: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-halfunit);
    margin-bottom: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-unit);
  }
  .form-container2 {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .form-text18 {
    align-self: flex-start;
  }
  .form-select {
    width: 100%;
  }
  .form-container3 {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .form-text19 {
    align-self: flex-start;
  }
  .form-select1 {
    width: 100%;
  }
  .form-container4 {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .form-text20 {
    align-self: flex-start;
  }
  .form-select2 {
    width: 100%;
  }
  .form-button {
    padding: var(--dl-space-space-halfunit);
    align-self: center;
    margin-left: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-halfunit);
  }
}
