<div>
  <link href="./form.css" rel="stylesheet" />
  <div class="form-form">
    <span class="form-text">
      <span>Ads</span>
      <br class="Diskripsi3" />
    </span>
    <span id="form-infinitex" class="form-text03">
      <span>Butuh Website Interaktif buat usaha mu?</span>
      <br />
    </span>
    <div class="form-base-form">
      <div class="form-container">
        <span class="form-text06 Deskripsi1">
          <span class="Deskripsi1">Jasa Web Developer?</span>
          <br class="Deskripsi1" />
          <span class="Deskripsi1">Apa aja, </span>
          <span class="Deskripsi1">Kita Bisa!</span>
          <br class="Deskripsi1" />
        </span>
        <span class="form-text12 Diskripsi3">
          <span>Lihat layanan kami?</span>
        </span>
        <a href="web-development.html" name="done" class="form-navlink">
          <span>Lihat Jasa kami   ></span>
        </a>
      </div>
      <form
        name="formulir-ads-infinitex"
        action="pemesanan-sukses"
        method="POST"
        autocomplete="off"
        data-netlify="true"
        class="form-form1"
      >
        <label for="contact" class="form-text13 Diskripsi3">
          <span>Masukan nama anda*</span>
        </label>
        <input
          type="text"
          name="name"
          required
          placeholder="Nama"
          class="form-textinput Diskripsi3"
        />
        <label for="contact" class="form-text14 Diskripsi3">
          <span>Masukan nomor Whatsapp anda*</span>
        </label>
        <input
          type="number"
          name="No Whatsapp"
          required
          placeholder="No. Whatsapp"
          class="form-textinput1 Diskripsi3"
        />
        <label for="contact" class="form-text15 Diskripsi3">
          <span>Masukan Email anda*</span>
        </label>
        <input
          type="email"
          name="email"
          required
          placeholder="Email"
          autocomplete="email"
          class="form-textinput2 Diskripsi3"
        />
        <label for="contact" class="form-text16 Diskripsi3">
          <span>Kode Produk, Contoh #A0001*</span>
        </label>
        <input
          type="text"
          name="Kodeproduk"
          required
          placeholder="Kode Produk"
          autocomplete="off"
          class="form-textinput3 Diskripsi3"
        />
        <label for="contact" class="form-text17 Diskripsi3">
          <span>Pilih opsi*</span>
        </label>
        <div class="form-container1 Diskripsi3">
          <div class="form-container2">
            <label for="contact" class="form-text18 Diskripsi3">
              <span>Pilih kategori*</span>
            </label>
            <select name="Kategori" required class="form-select">
              <option value="Jasa Web Perusahaan" selected>
                Jasa Web Perusahaan
              </option>
              <option value="Jasa Web Portofolio">Jasa Web Portofolio</option>
              <option value="Wedding Invitation Web">
                Wedding Invitation Web
              </option>
            </select>
          </div>
          <div class="form-container3">
            <label for="contact" class="form-text19 Diskripsi3">
              <span>Pilih paket*</span>
            </label>
            <select name="Paket" required class="form-select1">
              <option value="Super Basic" selected>Super Basic</option>
              <option value="Basic">Basic</option>
              <option value="Starter">Starter</option>
              <option value="Bisnis">Bisnis</option>
              <option value="Custom (spesial)">Custom (spesial)</option>
            </select>
          </div>
          <div class="form-container4">
            <label for="contact" class="form-text20 Diskripsi3">
              <span>Pilih kategori bisnis anda*</span>
            </label>
            <select name="Kategori Bisnis" required class="form-select2">
              <option value="Makanan dan Minuman:" selected>
                Makanan dan Minuman:
              </option>
              <option value="Ritel">Ritel</option>
              <option value="Teknologi dan Elektronik">
                Teknologi dan Elektronik
              </option>
              <option value="Kesehatan dan Kecantikan">
                Kesehatan dan Kecantikan
              </option>
              <option value="Hiburan dan Rekreasi">Hiburan dan Rekreasi</option>
              <option value="Pendidikan">Pendidikan</option>
              <option value="Properti">Properti</option>
              <option value="Transportasi">Transportasi</option>
              <option value="Manufaktur">Manufaktur</option>
              <option value="Layanan Teknis">Layanan Teknis</option>
              <option value="Pertanian dan Peternakan">
                Pertanian dan Peternakan
              </option>
              <option value="Energi dan Lingkungan">
                Energi dan Lingkungan
              </option>
              <option value="Seni dan Kreativitas">Seni dan Kreativitas</option>
              <option value="Lainnya">Lainnya</option>
            </select>
          </div>
        </div>
        <div class="form-container5">
          <input type="checkbox" required />
          <span class="form-text21 Deskripsi4">
            <span>
              Menyetujui data apa saja yang di masukan itu benar, data anda aman
              dan tidak di salah gunakan dan kami segera menghubungi anda
            </span>
          </span>
        </div>
        <button name="done" type="submit" class="form-button">
          <span>Kirim</span>
        </button>
      </form>
    </div>
  </div>
</div>
