<div>
  <link href="./highlight.css" rel="stylesheet" />
  <div data-aos="zoom-in-up" class="highlight-highlight">
    <svg viewBox="0 0 1024 1024" class="highlight-icon">
      <path
        d="M512 470q18 0 30 12t12 30-12 30-30 12-30-12-12-30 12-30 30-12zM512 704q80 0 136-56t56-136-56-136-136-56-136 56-56 136 56 136 136 56zM512 86q176 0 301 125t125 301-125 301-301 125-301-125-125-301 125-301 301-125z"
      ></path>
    </svg>
    <div class="highlight-container">
      <span class="highlight-text">
        <span>Everything you get with Finbest</span>
      </span>
      <span class="highlight-text1">
        <span>
          Sed do eiusmod tempor incididunt ut labore et dolore magna aliquat
          enim ad minim veniam, quis nostrud
        </span>
      </span>
    </div>
  </div>
</div>
