<div>
  <link href="./jasa.css" rel="stylesheet" />
  <div class="jasa-container">
    <div class="jasa-container1">
      <img
        alt="Fitur"
        src="https://play.teleporthq.io/static/svg/default-img.svg"
        loading="lazy"
        class="jasa-image"
      />
      <div class="jasa-container2">
        <span id="HargaFix" class="jasa-text">
          <span>Jasa Web Development</span>
        </span>
        <span id="HargaFix" class="jasa-text1"><span>Rp. 500.000</span></span>
        <div class="jasa-container3">
          <div class="jasa-container4">
            <span class="jasa-text2"><span>Bebas Virus</span></span>
          </div>
        </div>
        <div class="jasa-container5">
          <a
            href="https://beli"
            target="_blank"
            rel="noreferrer noopener"
            class="jasa-link"
          >
            <div class="jasa-container6">
              <span class="jasa-text3">Konsultasi Sekarang</span>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
