.jasa-container {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.jasa-container1 {
  gap: var(--dl-space-space-halfunit);
  flex: 0 0 auto;
  width: 209px;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}
.jasa-image {
  width: 100%;
  cursor: pointer;
  height: auto;
  object-fit: cover;
  transition: 0.5s;
  border-radius: var(--dl-radius-radius-radius8);
}
.jasa-image:hover {
  transform: translateY(-12px);
  box-shadow: 0px 3px 0px 0px #444444,0px 5px 5px 0px #909090;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
.jasa-container2 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
}
.jasa-text {
  color: #07003a;
  width: 100%;
  font-size: 12px;
  align-self: center;
  font-style: normal;
  text-align: left;
  font-weight: 600;
}
.jasa-text1 {
  color: #07003a;
  width: 100%;
  font-size: 12px;
  align-self: center;
  font-style: normal;
  text-align: left;
  font-weight: 600;
}
.jasa-container3 {
  gap: 5px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.jasa-container4 {
  gap: 5px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.jasa-text2 {
  color: rgb(0, 10, 255);
  width: auto;
  font-size: 9px;
  align-self: center;
  font-style: normal;
  text-align: left;
  font-weight: 400;
}
.jasa-container5 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.jasa-link {
  display: contents;
}
.jasa-container6 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  cursor: pointer;
  height: 38px;
  display: flex;
  padding: 5px;
  transition: 0.5s;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  justify-content: center;
  text-decoration: none;
  background-color: #07003a;
}
.jasa-container6:hover {
  transform: scale(105%);
  box-shadow: 0px 3px 0px 0px #6cc400,0px 3px 10px 0px #edff1b;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: #077902;
}
.jasa-text3 {
  color: #ffffff;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
}
.jasa-navlink {
  display: contents;
}
.jasa-container7 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  cursor: pointer;
  height: 38px;
  display: flex;
  padding: 5px;
  transition: 0.5s;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  justify-content: center;
  text-decoration: none;
  background-color: #07003a;
}
.jasa-container7:hover {
  transform: scale(105%);
  box-shadow: 0px 3px 0px 0px #6cc400,0px 3px 10px 0px #edff1b;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: #077902;
}
.jasa-text4 {
  color: rgb(255, 255, 255);
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
}




.jasa-root-class-name4 {
  margin-right: var(--dl-space-space-unit);
}
@media(max-width: 479px) {
  .jasa-container1 {
    width: 161px;
    background-color: #f7f7f7;
  }
  .jasa-image {
    height: auto;
  }
  .jasa-container2 {
    gap: 5px;
  }
  .jasa-text {
    color: #07003a;
    font-size: 12px;
  }
  .jasa-text1 {
    color: #07003a;
    font-size: 12px;
  }
  .jasa-container4 {
    align-items: flex-start;
    justify-content: flex-start;
  }
  .jasa-text2 {
    font-size: 8px;
  }
  .jasa-container5 {
    gap: var(--dl-space-space-halfunit);
  }
  .jasa-container6 {
    gap: var(--dl-space-space-halfunit);
    width: 100%;
    height: auto;
    padding: 5px;
  }
  .jasa-text3 {
    width: auto;
    font-size: 10px;
  }
  .jasa-container7 {
    gap: var(--dl-space-space-halfunit);
    width: 100%;
    height: auto;
    padding: 5px;
  }
  .jasa-text4 {
    width: auto;
    font-size: 10px;
  }
  .jasa-root-class-name4 {
    margin-right: var(--dl-space-space-unit);
  }
}
