.link-menus-links-container {
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.link-menus-container {
  display: flex;
  align-items: flex-start;
  margin-right: 10rem;
  flex-direction: row;
  justify-content: space-between;
}
.link-menus-product-container {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  margin-right: 10rem;
  flex-direction: column;
  justify-content: flex-start;
}
.link-menus-text {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.link-menus-navlink {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.link-menus-navlink1 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.link-menus-company-container {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.link-menus-text1 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.link-menus-text2 {
  margin-bottom: var(--dl-space-space-unit);
}
.link-menus-text3 {
  margin-bottom: var(--dl-space-space-unit);
}
.link-menus-text4 {
  margin-bottom: var(--dl-space-space-unit);
}
.link-menus-text5 {
  margin-bottom: var(--dl-space-space-unit);
}
.link-menus-container1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.link-menus-contact {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  justify-content: flex-start;
}
.link-menus-text6 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.link-menus-text7 {
  margin-bottom: var(--dl-space-space-unit);
}
.link-menus-container2 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.link-menus-icon {
  width: 18px;
  height: 18px;
}

@media(max-width: 991px) {
  .link-menus-container {
    margin-right: var(--dl-space-space-fourunits);
  }
  .link-menus-product-container {
    margin-right: var(--dl-space-space-fourunits);
  }
}
@media(max-width: 767px) {
  .link-menus-links-container {
    width: 100%;
    align-items: flex-start;
    flex-direction: row;
    justify-content: center;
  }
  .link-menus-container {
    margin-right: var(--dl-space-space-fourunits);
  }
  .link-menus-product-container {
    margin-right: var(--dl-space-space-fourunits);
  }
}
@media(max-width: 479px) {
  .link-menus-links-container {
    align-items: flex-start;
    margin-left: 0px;
    margin-right: 0px;
    flex-direction: column;
  }
  .link-menus-container {
    margin-right: 0px;
  }
  .link-menus-container1 {
    margin-top: var(--dl-space-space-oneandhalfunits);
    align-items: flex-start;
    margin-bottom: 0px;
  }
  .link-menus-contact {
    align-items: flex-start;
    margin-bottom: var(--dl-space-space-unit);
  }
}
