<div>
  <link href="./menu.css" rel="stylesheet" />
  <div class="menu-container">
    <div class="menu-container1">
      <div class="menu-container2">
        <img
          alt="Fitur"
          src="https://ik.imagekit.io/Infinitex/bank%20data/Home/Social%20media.png?updatedAt=1707385183293"
          loading="lazy"
          class="menu-image"
        />
        <div class="menu-container3">
          <span id="HargaFix" class="menu-text">
            <span>Jasa Promosi Iklan berbayar</span>
          </span>
          <div class="menu-container4">
            <div class="menu-container5">
              <span class="menu-text1">
                <span>Perencanaan materi dan pembuatan iklan..</span>
              </span>
            </div>
          </div>
          <div class="menu-container6">
            <a
              href="https://api.whatsapp.com/send?phone=6281917304951"
              target="_blank"
              rel="noreferrer noopener"
              class="menu-link"
            >
              <div class="menu-container7">
                <span class="menu-text2"><span>Konsultasi Sekarang</span></span>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
