<div>
  <link href="./menu.css" rel="stylesheet" />
  <div class="menu-menu">
    <div id="mobile-menu" class="menu-mobile-navigation">
      <img
        alt="pastedImage"
        src="https://2cdc80ace5.imgdist.com/public/users/Integrators/BeeProAgency/1011568_996439/editor_images/Group%2021.png"
        class="menu-logo"
      />
      <div class="menu-menu1">
        <a href="index.html" class="menu-text"><span>Home</span></a>
        <a href="about.html" class="menu-text01"><span>About</span></a>
        <span class="menu-text02"><span>Web Service</span></span>
        <a href="web-development.html" class="menu-text03">
          <span>Web Development Service</span>
        </a>
        <a href="digital-service.html" class="menu-text04">
          <span>Digital Service</span>
        </a>
        <a href="suma-wedding.html" class="menu-text05">
          <span>Wedding Organizer</span>
        </a>
        <a href="**" class="menu-text06">
          <span>Template Premium (Segera Hadir)</span>
        </a>
        <a href="order-form-digital.html" class="menu-text07">
          <span>Order Form</span>
        </a>
        <a href="rekrutmen.html" class="menu-text08"><span>Rekrutmen</span></a>
      </div>
      <div id="close-mobile-menu" class="menu-close-mobile-menu">
        <svg viewBox="0 0 804.5714285714286 1024" class="menu-icon">
          <path
            d="M741.714 755.429c0 14.286-5.714 28.571-16 38.857l-77.714 77.714c-10.286 10.286-24.571 16-38.857 16s-28.571-5.714-38.857-16l-168-168-168 168c-10.286 10.286-24.571 16-38.857 16s-28.571-5.714-38.857-16l-77.714-77.714c-10.286-10.286-16-24.571-16-38.857s5.714-28.571 16-38.857l168-168-168-168c-10.286-10.286-16-24.571-16-38.857s5.714-28.571 16-38.857l77.714-77.714c10.286-10.286 24.571-16 38.857-16s28.571 5.714 38.857 16l168 168 168-168c10.286-10.286 24.571-16 38.857-16s28.571 5.714 38.857 16l77.714 77.714c10.286 10.286 16 24.571 16 38.857s-5.714 28.571-16 38.857l-168 168 168 168c10.286 10.286 16 24.571 16 38.857z"
          ></path>
        </svg>
      </div>
    </div>
    <div class="menu-desktop-navigation">
      <nav id="header-menu" class="menu-centered">
        <div class="menu-left">
          <a href="index.html" class="menu-navlink">
            <img
              alt="pastedImage"
              src="https://2cdc80ace5.imgdist.com/public/users/Integrators/BeeProAgency/1011568_996439/editor_images/Group%2021.png"
              class="menu-logo1"
            />
          </a>
        </div>
        <div class="menu-links">
          <a href="index.html" class="menu-navlink1"><span>Home</span></a>
          <a href="about.html" class="menu-navlink2"><span>About</span></a>
          <div data-thq="thq-dropdown" class="menu-thq-dropdown list-item">
            <div data-thq="thq-dropdown-toggle" class="menu-dropdown-toggle">
              <span class="menu-text09"><span>Service</span></span>
              <div data-thq="thq-dropdown-arrow" class="menu-dropdown-arrow">
                <svg viewBox="0 0 1024 1024" class="menu-icon2">
                  <path d="M426 726v-428l214 214z"></path>
                </svg>
              </div>
            </div>
            <ul data-thq="thq-dropdown-list" class="menu-dropdown-list">
              <li data-thq="thq-dropdown" class="menu-dropdown list-item">
                <a href="web-development.html">
                  <div
                    data-thq="thq-dropdown-toggle"
                    class="menu-dropdown-toggle1"
                  >
                    <span class="menu-text10">
                      <span>Web Development</span>
                    </span>
                  </div>
                </a>
                <div
                  data-thq="thq-dropdown-toggle"
                  class="menu-dropdown-toggle2"
                >
                  <span class="menu-text11"><span>Web Invitation</span></span>
                </div>
                <a href="suma-wedding.html">
                  <div
                    data-thq="thq-dropdown-toggle"
                    class="menu-dropdown-toggle3"
                  >
                    <span class="menu-text12">
                      <span>Wedding Organizer</span>
                    </span>
                  </div>
                </a>
              </li>
            </ul>
          </div>
          <div data-thq="thq-dropdown" class="menu-thq-dropdown1 list-item">
            <div data-thq="thq-dropdown-toggle" class="menu-dropdown-toggle4">
              <span class="menu-text13"><span>DigitaL Service</span></span>
              <div data-thq="thq-dropdown-arrow" class="menu-dropdown-arrow1">
                <svg viewBox="0 0 1024 1024" class="menu-icon4">
                  <path d="M426 726v-428l214 214z"></path>
                </svg>
              </div>
            </div>
            <ul data-thq="thq-dropdown-list" class="menu-dropdown-list1">
              <li data-thq="thq-dropdown" class="menu-dropdown1 list-item">
                <a href="digital-service.html">
                  <div
                    data-thq="thq-dropdown-toggle"
                    class="menu-dropdown-toggle5"
                  >
                    <span class="menu-text14">
                      <span>Social Media Service</span>
                    </span>
                  </div>
                </a>
              </li>
            </ul>
          </div>
          <a href="order-form.html" class="menu-navlink6"><span>Order</span></a>
        </div>
        <div class="menu-right">
          <div id="open-mobile-menu" class="menu-burger-menu">
            <img
              alt="pastedImage"
              src="public/external/pastedimage-yxbd.svg"
              class="menu-mobile-menu-button"
            />
          </div>
        </div>
      </nav>
    </div>
    <div class="menu-menu-code">
      <script>
        /*
        Mobile menu - Code Embed
        */

        // Mobile menu
        const mobileMenu = document.querySelector('#mobile-menu')

        // Buttons
        const closeButton = document.querySelector('#close-mobile-menu')
        const openButton = document.querySelector('#open-mobile-menu')

        // On openButton click, set the mobileMenu position left to -100vw
        openButton.addEventListener('click', function() {
            mobileMenu.style.transform = 'translateX(0%)'
        })

        // On closeButton click, set the mobileMenu position to 0vw
        closeButton.addEventListener('click', function() {
            mobileMenu.style.transform = 'translateX(100%)'
        })
      </script>
    </div>
  </div>
</div>
