<div>
  <link href="./menu-pilihan.css" rel="stylesheet" />
  <div class="menu-pilihan-container">
    <div class="menu-pilihan-container1">
      <a href="#website" class="menu-pilihan-link">
        <div class="menu-pilihan-container2">
          <span class="menu-pilihan-text">Paket Website</span>
        </div>
      </a>
      <a href="#landingpage" class="menu-pilihan-link1">
        <div class="menu-pilihan-container3">
          <span class="menu-pilihan-text1">Paket Landing</span>
        </div>
      </a>
    </div>
  </div>
</div>
