<div>
  <link href="./testimonal.css" rel="stylesheet" />
  <div class="testimonal-testimonal testimonal">
    <span class="testimonal-text">
      <span>
        "Pellentesque sodales libero nulla, ac imperdiet ante tincidunt vel.
        Fusce auctor augue sed massa finibus, et dictum sem mollis. In luctus.”
      </span>
    </span>
    <div class="testimonal-author">
      <div class="testimonal-avatar">
        <img
          alt="testimoni-infinitex"
          src="https://2cdc80ace5.imgdist.com/public/users/Integrators/BeeProAgency/1011568_996439/editor_images/dyan.png"
          loading="lazy"
          class="testimonal-image"
        />
      </div>
      <div class="testimonal-user">
        <span class="testimonal-name"><span>Andy Smith</span></span>
        <span class="testimonal-divider">—</span>
        <span class="testimonal-from"><span>Vista Social</span></span>
      </div>
    </div>
  </div>
</div>
