.whatsapp-lp-container {
  gap: var(--dl-space-space-unit);
  width: 100%;
  bottom: 0px;
  height: 76px;
  display: flex;
  z-index: 100;
  position: fixed;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: row;
  justify-content: center;
  background-image: linear-gradient(90deg, rgb(20, 210, 0) 0.00%,rgb(4, 155, 16) 100.00%);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.whatsapp-lp-icon {
  fill: #ffffff;
  width: 50px;
  height: 50px;
}
.whatsapp-lp-container1 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.whatsapp-lp-text {
  color: #ffffff;
  font-size: 20px;
  align-self: flex-start;
  font-style: normal;
  text-align: left;
  font-weight: 700;
}


@media(max-width: 479px) {
  .whatsapp-lp-container {
    z-index: 100;
  }
}
